<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><{$sitename}></title> 
	<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/html5/js/jquery.mobile-1.3.2.min.css">  
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> 
	<link rel="stylesheet" href="grid-listview.css" id="grid-listview-css">
	<script src="<{$siteurl}>/templates/<{$tempdir}>/html5/js/jquery.js"></script> 
	<script src="<{$siteurl}>/templates/<{$tempdir}>/html5/js/myjs.js"></script> 
	<script src="<{$siteurl}>/templates/<{$tempdir}>/html5/js/jquery.mobile-1.3.2.min.js"></script>   
  <link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/html5/css/collapsible.css">  
</head>
<body> 
	
<div data-role="page"  data-quicklinks="true"> 
	 
	
	<div data-role="header" data-theme="a">
		<h1> <{$sitetitle}> </h1>
		<a id="show_cart" data-icon="custom"   href="#mycart" data-rel="popup" data-role="button" data-inline="true"  data-transition="slidedown">我的购物车</a>
		 <a href="#" data-icon="back" data-theme="b">切换城市</a>
	</div> 