<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            	
            	  <rule name="rule2cc" stopProcessing="true">
                     <match url="^(.*/)*qqmeta" />
                     <action type="Rewrite" url="{R:1}/qqmeta/index.html"/>  
                </rule>
                  
	              <rule name="rule1" stopProcessing="true">
                     <match url="!^(index\.php|test\.php|robots\.txt|plugins|backup|upload|images|templates|install|admin123|plug|install)" />
                     <action type="Rewrite" url="{R:1}"/>
                </rule>   
                <rule name="rule2" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}"/>  
                </rule> 
                <rule name="rule2a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}"/>  
                </rule>
                <rule name="rule3" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}"/>  
                </rule> 
                 <rule name="rule3a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}"/>  
                </rule> 
               <rule name="rule4" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}"/>  
                </rule> 
                <rule name="rule4a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}"/>  
                </rule> 
                <rule name="rule5" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}"/>  
                </rule> 
                <rule name="rule5a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}"/>  
                </rule>
                <rule name="rule6" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}"/>  
                </rule>
                <rule name="rule6a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}"/>  
                </rule>
                <rule name="rule7" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}"/>  
                </rule>
                <rule name="rule7a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}"/>  
                </rule>
                <rule name="rule8" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}"/>  
                </rule>
                 <rule name="rule8a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}"/>  
                </rule>
                <rule name="rule9" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}"/>  
                </rule>
                <rule name="rule9a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}"/>  
                </rule>
                <rule name="rule10" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                      <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}"/>  
                </rule>
                <rule name="rule10a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                      <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}"/>  
                </rule>
                <rule name="rule11" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}"/>  
                </rule>
                 <rule name="rule11a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}"/>  
                </rule>
                <rule name="rule12" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}"/>  
                </rule>
                <rule name="rule12a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}"/>  
                </rule>
                <rule name="rule13" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}&amp;{R:14}"/>  
                </rule>
                <rule name="rule13a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}&amp;{R:14}"/>  
                </rule>
                <rule name="rule14" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}&amp;{R:14}={R:15}"/>  
                </rule>
                <rule name="rule14a" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}&amp;action={R:3}&amp;{R:4}={R:5}&amp;{R:6}={R:7}&amp;{R:8}={R:9}&amp;{R:10}={R:11}&amp;{R:12}={R:13}&amp;{R:14}={R:15}"/>  
                </rule>
                 <rule name="rule1a2c1" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}"/>  
                </rule>  
                 <rule name="rule1a2c2" stopProcessing="true">
                     <match url="^(.*/)*([_0-9a-z-]+)/$" />
                     <action type="Rewrite" url="{R:1}/index.php?controller={R:2}"/>  
                </rule>  
            </rules>
        </rewrite>
    </system.webServer> 	
</configuration>
