







/* */

@charset "utf-8";
html {
	scrollbar-face-color : #F5F5F5;
	scrollbar-arrow-color :#A0A0A0;
	padding:0 !important; 
	width:100%;
	height:100%;
 
}
img {
	border: 0px;
}
* {
	margin:0;
	padding:0;
}
fieldset, img {
	border:0;
}
li {
	list-style:none;
}
body, button, input, select, textarea /* for ie */ {
	font: tahoma, Helvetica, arial, "\5b8b\4f53", sans-serif;
sans-serif;
	vertical-align:middle;
	font-size:12px;
}
 
address, cite, dfn, em, var {
	font-style: normal;
}
code, kbd, samp {
	font-family: courier new, courier, monospace;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.38em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
	font-style: italic;
}
address, cite, dfn, em, var {
	font-style:normal;
}
caption, td {
	font-weight: normal;
}
cite, blackquote, em, i {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
pre, code {
	font-family: monospace;
	font-size: 1.1em;
}
body {  
    overflow: hidden;
	color:#0076cf;
	font-size:14px;
	line-height:150%;
	text-align: left; 
	background-color:#41b1d6;
	background-attachment:fixed; 
	font-family: '微软雅黑', 'Lucida Grande', 'Lucida Sans Unicode', '宋体', '新宋体', arial, verdana, sans-serif;
}
input {
	font-size:12px;
}
input[type="text"]{
	border:none;
	background: transparent;
	text-align: center;
	border-bottom: 1px solid rgba(37,37,47,.7);
}
textarea {
	font-size:12px;
	line-height:22px;
	padding:0px 10px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
a {
	margin: 0px;
	padding:0px;
	border:0px;
	color:#0076cf;
	text-decoration:none;
	outline:none;
  blr:expression(this.onFocus=this.blur());
}
a:link {
	color:#0076cf;
	text-decoration:none;
}
a:hover {
	color:#fba101;
	text-decoration:none;
}

.newtop{ 
	width:100%;
	height:60px;
	line-height: 60px; 
/*	min-width: 1359px; */
	text-align:center;
}
.newadddiv{
  width:1400px;
  height: 100%;
  margin:0px auto;
background:rgba(37,37,47,.7); 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/**后台logo**/
.newlogo{
	float:left;
	width:20%;
}
.imglogo{
	width: 100%;
	height: 100%;
}
.imglogo a{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 24px;
	display: inline-block;
}
/**后台订部导航条**/
.newtopnav{
float:left;
width:80%;
overflow:hidden;
}
.newtopnav ul{
	width: 100%;
	height: 100%;
}
.newtopnav ul li{
float:left;
width: 10%;
/*background: url('../images/admin/topli.png') no-repeat;*/
}

.newtopnav > ul > li:nth-last-of-type(1),
.newtopnav > ul > li:nth-last-of-type(2),
.newtopnav > ul > li:nth-last-of-type(3),
.newtopnav > ul > li:nth-last-of-type(4){
	display: none;
}
.newtopnav li:hover,.newtopnav li.on{
	background: #1783b2;
	/*background: url('../images/admin/toplion.png') no-repeat;*/
}

.newtopnav .lib{
	 
/*	margin-top:8px;
	height:35px;
	width:100px;
  text-align:center;*/
 
}
.newtopnav .libtitle{
text-align:center;
color:#fff;
font-weight:normal;
}
.newtopnav li:hover .libtitle,.newtopnav li.on .libtitle{
	color:#fff;
}
.newtopnav .ck1{ 
	display: none;
	background: url('../images/admin/libk1.png') no-repeat center;
}
.newtopnav .ck2{  
	background: url('../images/admin/libk2.png') no-repeat center;
}
.newtopnav .ck3{ 
	background: url('../images/admin/libk3.png') no-repeat center;
}
.newtopnav .ck4{ 
	background: url('../images/admin/libk4.png') no-repeat center;
}
.newtopnav .ck5{ 
	background: url('../images/admin/libk5.png') no-repeat center;
}
.newtopnav .ck6{ 
	background: url('../images/admin/libk6.png') no-repeat center;
}
.newtopnav .ck7{ 
	background: url('../images/admin/libk7.png') no-repeat center;
}
.newtopnav .ck8{ 
	background: url('../images/admin/libk8.png') no-repeat center;
}
.newtopnav .ck9{ 
	background: url('../images/admin/libk9.png') no-repeat center;
}
.newtopnav .ck10{ 
	background: url('../images/admin/libk10.png') no-repeat center;
}
.newtopnav .ck11{ 
	background: url('../images/admin/libk11.png') no-repeat center;
}


.newmain{
	width:100%;
	height: auto;
   text-align:center; 
}
.newfoot{
 display: none;
	height:40px;
	background:red;
	 background:#1783b2;
	margin: 0 auto;
	 
	text-align:center;
	color:#fff;
	padding-top:10px;
	font-weight:bold;
/*	position:fixed; */
	width:100%;
/*	bottom:0; */
}
.newmain_all{
	position: relative;
	margin-top:20px;
	width:1400px;
	height:580px; 
	text-align:left;
	margin:0px auto;
}
.left_content{
	position: absolute;
	left: 0;
width:15%;
height: auto;
color: #fff;
background: rgba(37,37,47,.7);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.left_content .userinfo{
	width:100%;
	height:auto;
	padding:20px 0;
/*	background: url('../images/admin/left-top.png') no-repeat; */
	text-align:center;
	border-bottom: 1px dashed #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left_content .userinfo .user_name{
	width:auto;
	display: inline-block;
}
.left_content .userinfo .content_url{
 width:100%;
 height: 30px;
 line-height: 30px;
 margin-top: 10px;
}
.left_content .userinfo .content_url a{
	width: 40%;
	color: #fff;
	border:1px solid #19b4ea;
	display: inline-block;
}
.left_content .userinfo .content_url a:hover{
	background: #19b4da;
}
.top_nav{
	height:auto; 
	width:100%;
/*	background: url('../images/admin/topinfo.png') no-repeat; */
}
.top_nav > li{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
/*
.top_nav .nav2{
margin-top:7px;
text-align:left;
}
.top_nav .datainfo{
float:left;
margin-left:80px;
width:129px;
color:#0076cf;
}
.top_nav .positioninfo{
float:left;
width:518px;
margin-left:140px;
color:#0076cf;

}
.top_nav .orderinfo{
	width:264px;
	margin-left:100px;
	color:red;
float:left;
}
*/
.now_name{
margin-top:14px;
color:#fff;
font-weight:bold;
}
.left_content .left_nav{
	padding-top:10px;
}
.left_content .left_nav,
.left_content .left_nav ul{
	width: 100%;
	height: auto;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left_content .left_nav li{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.left_content .left_nav li:hover{
	background: #19b4ea;
}
.left_content .left_nav li a{
	width: 100%;
	height: 100%;
	color: #fff;
	display: inline-block;
}
/*
.left_content .left_nav li .leftarrow{
	margin-left:14px;
	height:20px;
	width:7px;float:left; 
	background: url('../images/admin/leftarrow.png') no-repeat;
}*/
.left_content .left_nav li a{
color:#fff;
}
.left_content .left_nav li a.on{
color:#fff;
}

.right_content{
	position: absolute;
	right: 0;
	width:83%;
	height: 500px;
	overflow-y:scroll;
	text-align:center;
	background: #fff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.right_content .showpart_1,
.right_content .showpart_1 .show_content_m{
	position: relative;
	width:100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.right_content .showpart_1 .show_content_m{
	background: rgba(37,37,47,.7);
}
.right_content .showpart_2{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
.smallpart{
	position: absolute;
	top: 0;
	width: 48%;
	height: 90%;
	background: #fff;
	box-shadow: 0 0 10px #000;
}
.smallpart:first-child{
	left: 1%;
}
.smallpart:last-child{
	right: 1%;
}
.smallpart .small_top{
	width: 100%;
	height: 10%;
	line-height: 60px;
	background:#fff;
	font-size: 16px;
	border-bottom: 1px dashed rgba(37,37,47,.7);
	text-align: center;
}
.smallpart .small_content{ 
	width: 100%;
	height: auto;
	overflow:hidden;
	background: #fff;
}
.smallpart .small_content > div{
	position: absolute;
	bottom: 0;
	height: 40px!important;
	line-height: 40px;
	padding:3px 0!important;
	width: 100%!important;
}
.smallpart .small_content table,
.smallpart .small_content table tbody{
	width: 100%;
	height: auto;
}
.smallpart .small_content table tbody tr{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.smallpart .small_content table tbody tr:nth-last-of-type(1),
.smallpart .small_content table tbody tr:nth-last-of-type(2),
.smallpart .small_content table tbody tr:nth-last-of-type(3){
	display: none;
}
.smallpart .small_content td{
	text-align: center;
 border-bottom:1px solid #e5e5e5;
}
.left_navend{
	display: none;
	width:208px;
	height:3px;
	background: url('../images/admin/nav_leftend.png') no-repeat;
}
.weather{
	display: none;
	margin-top:20px;
 width:208px;
	height:118px;
	background: url('../images/admin/weatherback.png') no-repeat;
	color:#fff;
}
.weacher_left{
	float:left;
	width:130px;
	color:#fff;
}
.weacher_right{
	float:left;
	width:70px;
	
	margin-top:30px;
}
.weacher_left .wtname{
	margin-left:10px;
float:left; 
}
.weacher_left .wtname a{
	color:#fff;
}
.weacher_left .wtpic{
	margin-left:10px;
}
.tom{
float:left;
width:103px;
}
.tom_img{
float:left;
width:46px;
}
.tom_wendu{
	margin-top:5px;
float:left;
width:55px;
}
.tom_img .wtpic{
width:46px;
}
.tom_wendu{
font-size:12px;
font-weight:12px;
line-height:14px;
}

.show_content_m_ti{
	width:1083px;
	height:36px;
	background: url('../images/admin/righttitle.png') no-repeat;
}
.show_content_m_t3{
	display: none;
	width:1083px;
	height:6px;
	background: url('../images/admin/rightbottom.png') no-repeat;
}
.show_content_m_t2{
	width:100%;
	height: 100%;
}
.showtop_t{
 font-weight:bold; 
 text-align:left;
 color:#0086ae;
 padding-left:20px;
 padding-top:5px;
 }
.part_main_1{
	width: 100%;
	height:100%;
}
.part_main_1 ul{
	width: 100%;
	height: 100%;
}
.part_main_1 ul li{
	float: left;
	height: 100%;
	width: 14.28%;
}
.part_main_1 ul li:hover{
	background: #1783b2;
}
.part_main_1 ul li > a{
	width: 100%;
	height: 100%;
	color: #fff;
	display: inline-block;
}
.part_main_1 ul li > a > div:first-child{
	display: none;
}/*
.showpart_2{
 margin-top:20px;
 width:1083px;
 text-align:left;
}*/

/*
.tdcls1{
	background:#ecfcff;
	height:35px;
	text-align:right;
	font-weight:bold;
	width:150px;
	 border-right:1px solid #e5e5e5; 
}
.tdcls2{
	color:#000;
	padding-left:10px;
}
.tdcls3{ 
 height:35px;
 padding-left:20px;
 color:#666;
 width:380px;
 overflow:hidden;
}
.tdcls4{
	color:#666;
	width:120px;
}*/

#tagscontent {
	border-top:none;
	background: #fff;
	overflow-y:scroll;
	font-size:12px;
	color:#1B4670;
	text-align:left;
}
#tagscontent table{
	padding:1px;
	text-align: center;
	background: #fff!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#tagscontent table thead{
}
#tagscontent table thead tr{
}
#tagscontent table thead tr th{
}
#tagscontent ul {
	width:auto;
	border-bottom:1px solid #e8eef6;
	height:38px;
	line-height:38px;
}
#tagscontent li {
	width:auto;
	float:left;
 	margin-right:20px; 
}
#tagscontent #table .left {
width: 200px;
text-align: right;
padding-right: 10px;
}
#tagscontent #tagscontent td {
border-bottom: 1px solid #e8eef6;
}
#tagscontent input, #tagscontent #table input {
font-size: 12px;
line-height: 22px;
height: 22px;
padding: 0px 10px;
}
.skey {
border: 1px solid #c4d9e9;
width: 300px;
line-height: 20px;
height: 20px;
background: #fbfdff;
}
.button {
/*background: url('../images/buttom_bg.gif') right bottom no-repeat;*/
height: 30px;
line-height: 26px;
padding:0 10px;
font-size: 14px;
cursor: pointer;
text-align: center;
border: 1px solid #19b4ea;
color: #19b4ea;
margin-left:20px;
background: transparent;
}
.button:hover{
	color: #fff;
	background: #19b4ea;
}
#tagscontent tr {
	font-size: 14px!important;
	width: 100%;
	height: 40px!important;
	line-height:36px;
	height:auto;
	clear:both;
}
#tagscontent td {
		font-size:12px;
	color:#1B4670;
	border-bottom:1px solid #e8eef6;
}
#tagscontent td:last-child a{
	width: auto;
	height: 100%;
	padding:2px 10px;
	display:inline-block;
	color: #19b4ea;
	font-size: 14px;
	border:1px solid #19b4ea;
}
#tagscontent td:last-child a:hover{
	color: #fff;
	background: #19b4ea;
}
#tagscontent td:last-child a img{
	
}
#tagscontent td:last-child .first:after{
	content: '修改';
}
#tagscontent td:last-child .after:after,
#tagscontent td .del:after{
	content: '删除'!important;
}
#tagscontent th { 
	color:#1B4670;
	border-bottom:1px solid #e8eef6;
}
#submit {
	width:50px;
	height:25px;
	background:#e0e8f3;
	border:1px solid #a9bdd8;
	color:#133366;
	margin:5px 10px 5px 0px;
	font-size:14px;
	cursor:pointer;
}
.blank5, .blank10{
	clear: both;
	height: 5px;
}
.blank20 {
	clear: both;
	height: 20px;
}
#tagscontent .table_td th,#tagscontent #table th {
	color: #fff;
	font-size: 14px;
background: #19b4ea;
height: 40px; 
line-height: 40px;
text-align: center;
font-weight: normal;
}
.page_newc{
 height: 38px;
line-height: 38px;
}
.select_page{
 width:400px;
 margin-left:20px;
 float:left;

}
.delurl{
/*	background: url('../images/buttom_bg.gif') right bottom no-repeat;*/
height: 24px;
line-height: 18px;
cursor: pointer;
text-align: center;
padding: 5px 10px;
color: #19b4ea!important;
border: 1px solid #19b4ea;
overflow: hidden;
margin-left: 20px;
}
.delurl:hover{
	color: #fff!important;
	background: #19b4ea;
}
.show_page{
	width:500px;
	text-align:center;
	float:right; 
}
#tagscontent .show_page ul{
border-bottom:none;
height: 25px;
line-height: 25px;
}
 
#tagscontent .show_page li{
	background:#d1cfd6;
	margin-right: 0px;
/*	width:25px; */
	 
}
#tagscontent .show_page li.current{
	background:#19b4ea;
}
#tagscontent .show_page li.current a{
color:#fff;
}
#tagscontent .show_page li a{
	padding-left:10px;
	padding-right:10px;
}
#tagscontent .show_page li a.current{
  
 color:#fff; 
} 
 
.search{
text-align:left;
background:#fff;
height:40px;
line-height:40px;
}
.search_content{
color:#666;
padding-left:20px;
}
.cart_zhe {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000;
opacity: .2;
filter: alpha(opacity=20);
}
.cart_out_cat { 
height: 30px;
position: fixed;
line-height:30px;
z-index: 1050;
background-color: #f60;/*#F5EC11; */
color:#fff;
top: 0; 
width: 100%;
text-align: center;
}

 
 