<{include file="<{$tempdir}>/public/shophear.html"}>
<div id="content" class="clearfix">
	     <!---- 顶部导航-->
       <div class="contentnav">
       	    <div class="cnavleft"><div class="focusbutton"><{$sitetitle}></div></div>
       	    <div class="cnavright"><a href="<{$siteurl}>" class="home" target="_blank">首页</a><a href="<{ofunc type=url link="/member/loginout"}>" class="loginout">退出</a></div>
       	</div>
       	
       	
       	
       	
       	
       	
       	
       	
    
</div>

<{include file="<{$tempdir}>/public/shopfooter.html"}>

	
	


