body{padding:0px;margin:0px;font-size:12px;font-family:"微软雅黑",arial,helvetica,clean,sans-serif;line-height:150%;  color:#838383; background:#E6E6E6 }
div,span,h1,h2,h3,h4,h5,h6,ul,li,img,p,strong,b,textarea,input,button,select,form,a,table,tr,td,dl,dt,dd{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,ol{list-style-type:none;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;vertical-align:middle;}
img{border:0; vertical-align:baseline}
.clear{clear:both}
a{ color:#838383; text-decoration:none}
a:hover{ color:#333; text-decoration: underline}

.left{ float:left}
.right{ float:right}

section,article,aside,header,footer,nav,figure{display:block}
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 arial}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
a:link {
	color: #444;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #444;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}
.group,.clear{*zoom:1}
.group:after,.clear:after{content:'\20';display:block;clear:both;height:0}
body .hide{display:none}
.mb{margin-bottom:15px}
body .ellipsis{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;_width:100%;word-wrap:normal}
.layout-grid{position:relative;width:100%;overflow:hidden}
.layout-row{position:relative;left:100%;float:left;width:100%}
.layout-row-clear{clear:both}
.layout-col1,.layout-col2,.layout-col3{float:left;position:relative;width:100%}
.layout-col1{margin-left:-100%}
.pp-tips-sup{padding:0 1px;background-color:#c00;color:#fff;font-weight:bold;margin-left:3px;font-size:10px;display:inline-block;vertical-align:top;_vertical-align:3px;-webkit-text-size-adjust:none}
.pp-tips-sup .lt{margin:5px 0 0 -5px;position:absolute;width:0;height:0;border-top:4px transparent dashed;border-right:4px #c00 solid;font-size:0}
.pp-ad img{display:block}
.pp-droplist .angle{width:0;height:0;overflow:hidden;font-size:0;display:inline-block;border-width:4px;border-color:#666 transparent transparent transparent;border-style:solid dashed dashed dashed;position:absolute;right:11px;top:12px;top:10px\9;clear:both}
.pp-droplist{position:relative;margin-left:-9px}
.pp-droplist-hd,.pp-droplist-bd{border-style:solid;border-width:1px;border-color:#999}
.hover .pp-droplist-hd,.pp-droplist:hover .pp-droplist-hd{border-width:1px 1px 0 1px;padding:4px 21px 2px 8px;background-color:#fff}
.hover .pp-droplist-bd,.pp-droplist:hover .pp-droplist-bd{display:block}
.hover .pp-droplist-hd .angle,.pp-droplist:hover .pp-droplist-hd .angle{margin:-1px -1px 0 0}
.pp-droplist-hd{padding:5px 22px 3px 9px;position:relative;z-index:2;border-width:0;top:-5px;left:0;zoom:1}
.pp-droplist-bd{display:none;position:absolute;z-index:1;margin-top:-6px;background-color:#fff}
.pp-droplist .pp-droplist-bd li{float:none;margin:0;padding:0 8px 0 9px;line-height:2}
.pp-droplist-bd a{display:block}
.pp-li-bar{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:0 0;background-repeat:no-repeat;padding-left:11px}
.pp-topbanner{background-color:#fff}
.pp-topbanner-bd,.pp-topnotice-bd{position:relative;width:985px;margin:0 auto}
.pp-topnotice-bd{text-indent:10px}
.pp-topbanner-bd img{display:block}
.pp-topnotice{height:28px;line-height:28px;border-bottom:1px solid #E8CAA4;background:#fffcf3;background:-moz-linear-gradient(top,#fffcf3 0,#fff8e5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fffcf3),color-stop(100%,#fff8e5));background:-webkit-linear-gradient(top,#fffcf3 0,#fff8e5 100%);background:-o-linear-gradient(top,#fffcf3 0,#fff8e5 100%);background:-ms-linear-gradient(top,#fffcf3 0,#fff8e5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFFCF3',endColorstr = '#FFF8E5',GradientType = 0);background:linear-gradient(top,#fffcf3 0,#fff8e5 100%)}
.pp-topnotice-icon{display:block;width:15px;height:15px;background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px 0;float:left;margin-top:7px}
.pp-topbanner .pp-topmessage-close{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px -17px;background-color:#a00}
.pp-topnotice .pp-topmessage-close{top:9px;background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px -34px}
.pp-topmessage-close{display:block;overflow:hidden;position:absolute;right:5px;top:5px;width:11px;height:11px;text-indent:-499px}
.pp-toolbar{height:22px;padding-top:7px;position:relative;z-index:46;background-color:#fff}
.pp-toolbar-bd{width:985px;margin:0 auto;_height:22px;_overflow:hidden}
.pp-toolbar-login{margin-top:0;margin-top:-1 px\9;*margin-top:-2px;_margin-top:-1px}
.pp-toolbar-login img{margin-bottom:-2px}
.pp-shop-nav{float:left}
.pp-shop-nav li,.pp-site-nav li{float:left;margin-right:9px;_zoom:1}
.pp-site-nav{float:right}
.pp-site-nav .mypaipai,.pp-site-nav .help .pp-droplist-bd{padding-right:0;width:79px}
.pp-site-nav .sellercenter{margin-left:-10px;margin-right:5px;width:79px;zoom:1}
.pp-site-nav .sellercenter .pp-droplist-bd{width:90px}
.pp-site-nav .help .pp-droplist-hd{width:24px}
.pp-site-nav .mypaipai,.pp-site-nav .help{margin-right:5px;margin-left:-10px}
.pp-site-nav .service{margin-right:0}
.pp-toolbar .pp-li-bar{background-position:0 -4px;background-position:0 -5 px\9}
@-moz-document url-prefix(){.pp-toolbar .pp-li-bar{background-position:0 -3px}}
.pp-header{background-color:#fff;*zoom:1}
.pp-header-bd{height:98px;width:985px;margin:0 auto;background-color:#fff}
.pp-header-logo{float:left;width:350px;height:94px;overflow:hidden}
.pp-header-logo a{float:left;width:214px;height:94px;background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-361px 0;display:block}
.pp-header-logo img{margin-top:5px}
.pp-header-title{width:100px;height:24px;float:left;background-repeat:no-repeat;margin-top:26px}
.pp-search{float:right;margin-top:21px;*margin-top:24px;position:relative;z-index:42;width:550px;text-align:right}
.pp-search-box{position:relative;margin-right:7px;display:inline-block;*display:inline;zoom:1}
.pp-search-box-bd{display:inline-block;*display:inline;zoom:1;position:relative;padding-right:77px;border:2px solid #c00;vertical-align:middle;z-index:2}
.pp-search-input{float:left;padding:6px 3px 5px 3px;border:0 none;line-height:14px;-webkit-appearance:none;background-color:#fff;width:329px;width:323px\9}
@-moz-document url-prefix(){.pp-search-input{width:323px}}
.pp-search-input[type="search"]:focus{outline:0}
.pp-search-button button{outline:none;border:none;color:#fff;font-size:14px;font-weight:bold;width:100%;height:100%;cursor:pointer}
.pp-search-button{overflow:hidden;position:absolute;right:-1px;_right:-2px;top:-1px;width:75px;height:27px;border:1px solid #a00;border-bottom-width:0;background:#e00;background:-moz-linear-gradient(top,#e00 0,#a00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e00),color-stop(100%,#a00));background:-webkit-linear-gradient(top,#e00 0,#a00 100%);background:-o-linear-gradient(top,#e00 0,#a00 100%);background:-ms-linear-gradient(top,#e00 0,#a00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#EE0000',endColorstr = '#AA0000',GradientType = 0);background:linear-gradient(top,#e00 0,#a00 100%)}
.pp-search-button button{background:none;border:0;margin:0;padding:0}
.pp-search-hotwords{text-align:left;height:18px;line-height:1.5;position:absolute;left:0;top:36px;z-index:1}
.pp-search-hotwords a{margin-right:6px;*margin-right:3px}
.pp-search-category{position:relative;width:70px;height:26px;float:left;text-align:left;margin-left:-1px}
.pp-search-category-bd{position:absolute;width:100%}
.pp-search-category-current{padding-left:9px;height:20px;border-right:1px solid #ddd;margin-top:3px;cursor:pointer;_line-height:22px}
.pp-search-category-current a:hover{text-decoration:none;color:#666}
.pp-search-category-current .angle{overflow:hidden;width:0;height:0;font-size:0;display:inline-block;border-width:4px;border-color:#666 transparent transparent transparent;border-style:solid dashed dashed dashed;position:absolute;right:8px;top:11px;clear:both}
.pp-search-category-list{margin-top:3px;_margin-top:1px;background-color:#fff;border:1px solid #999;padding:5px 0}
.pp-search-category-list a{padding-left:9px;display:block;height:21px;line-height:21px}
.pp-search-category-list a:hover{text-decoration:none;background-color:#f1f1f1}
.pp-search-autosuggest{position:absolute;background-color:#fff;border:1px solid #999;z-index:32;display:none;text-align:left}
.pp-search-autosuggest,.pp-search-autosuggest-mask{width:329px;left:71px;top:28px;*top:29px}
.pp-search-autosuggest li{line-height:21px;height:21px;width:100%;overflow:hidden}
.pp-search-autosuggest a{display:block;overflow:hidden;line-height:21px;height:21px}
.pp-search-autosuggest span,.pp-search-autosuggest strong,.pp-search-autosuggest em,.pp-search-autosuggest b,.pp-search-autosuggest a,.pp-search-autosuggest li{cursor:pointer}
.pp-search-autosuggest a:hover{text-decoration:none}
.pp-search-autosuggest a:hover em{color:#aaa}
.pp-search-autosuggest span{float:left;text-indent:8px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.pp-search-autosuggest span.match{font-weight:bold;padding-right:1px;float:none;width:auto}
.pp-search-autosuggest span strong{color:#c00;font-weight:normal}
.pp-search-autosuggest em{float:right;width:92px;color:#aaa;margin-right:8px;display:inline;text-align:right;text-overflow:ellipsis;white-space:normal;overflow:hidden}
.pp-search-autosuggest li.rele_prd{text-align:center}
.pp-search-autosuggest li.photo{height:auto}
.pp-search-autosuggest li.photo a{height:40px;padding:7px 0 5px 9px;zoom:1;position:relative}
.pp-search-autosuggest li.photo span{white-space:normal;line-height:normal;position:absolute;top:20%;text-indent:0;padding-left:8px;width:195px}
.pp-search-autosuggest li.photo img{float:left;border:1px solid #ccc}
.pp-search-autosuggest-mask{display:none;height:373px;position:absolute;z-index:31;filter:alpha(opacity = 0);opacity:0}
.pp-search-autosuggest .autoResultLink a{background-color:#f1f1f1}
.pp-search-autosuggest .autoResultLink a span{color:#c00}
.pp-category{float:left;margin-right:15px;position:relative;width:185px;text-align:left}
.pp-category-hd{_overflow:hidden;height:26px;line-height:27px;line-height:28 px\0;color:#fff;text-indent:12px;font-weight:normal;cursor:default;background:#c00;background:-moz-linear-gradient(top,#c00 0,#d00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c00),color-stop(100%,#d00));background:-webkit-linear-gradient(top,#c00 0,#d00 100%);background:-o-linear-gradient(top,#c00 0,#d00 100%);background:-ms-linear-gradient(top,#c00 0,#d00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#CC0000',endColorstr = '#DD0000',GradientType = 0);background:linear-gradient(top,#c00 0,#d00 100%)}
.close .pp-category-hd{background:#d00;background:-moz-linear-gradient(top,#d00 0,#c00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d00),color-stop(100%,#c00));background:-webkit-linear-gradient(top,#d00 0,#c00 100%);background:-o-linear-gradient(top,#d00 0,#c00 100%);background:-ms-linear-gradient(top,#d00 0,#c00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dd0000',endColorstr = '#cc0000',GradientType = 0);background:linear-gradient(top,#d00 0,#c00 100%)}
.pp-category-hd s{display:block;width:11px;height:11px;overflow:hidden;position:absolute;top:8px;right:8px}
.pp-category-bd u{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background-repeat:no-repeat}
.close .pp-category-hd s{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px -51px}
.hover .pp-category-hd s{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px -68px}
.open .pp-category-hd s{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3190px -85px}
.close .pp-category-bd,.close .pp-category-bd-shadow,.hover .pp-category-bd,.hover .pp-category-bd-shadow{display:none}
.pp-category-bd,.pp-category-bd-shadow{position:absolute;left:0;top:27px;width:100%;background-color:#fff}
.pp-category-list{padding:8px 9px;border:1px solid #c00}
.pp-category-list .li{border-bottom:1px solid #ededed;width:100%;zoom:1;float:left;overflow:visible;padding-top:0}
.pp-category-list .fun{border-bottom:none}
.pp-category-list .li .pointer{position:absolute;right:8px;top:8px;width:5px;height:7px;background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px 0;overflow:hidden}
.pp-category-a{height:25px;line-height:25px;line-height:26px\0;position:relative;display:block;border-style:solid;border-color:#fff;border-width:0 1px 0 1px;width:100%;padding:0 3px;margin:0 -4px;cursor:default}
.pp-category-a:hover{font-weight:bold;text-decoration:none}
.current .pp-category-a{color:#c00;margin-top:-1px;margin-bottom:-1px;text-decoration:none;font-weight:bold;border:1px solid #c00}
.current .pp-category-a{z-index:10;width:118px}
.current .pp-category-a .pointer{background:#fff;right:-4px;top:-1px;height:25px;border-top:1px solid #c00;border-bottom:1px solid #c00}
.pp-category-a .sketch{float:left;width:16px;height:16px;margin:5px 7px 0 5px;_margin-right:4px}
.clothes .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px -17px}
.charge .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px -34px}
.shoes .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px -51px}
.cosmetic .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px -68px}
.sport .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3207px -85px}
.digi .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3224px 0}
.furn .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3224px -17px}
.food .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3224px -34px}
.baby .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3224px -51px}
.fun .pp-category-a .sketch{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-3224px -68px}
.pp-category-detail{top:8px;left:134px;position:absolute;border:1px solid #c00;width:420px;background-color:#fff;overflow:hidden}
.pp-category-detail-item{padding:0 10px;cursor:default}
.pp-category-detail-item dt{float:left;width:78px;text-indent:10px;font-weight:bold;color:#333}
.pp-category-detail-item dd{float:left;width:320px}
.pp-category-detail-item dl{border-bottom:1px solid #efeeef;border-left:1px solid #fff;border-right:1px solid #fff;padding:13px 0;line-height:1.8}
.pp-category-detail-item dl:hover{background-color:#f5f5f5;border-left:1px solid #efeeef;border-right:1px solid #efeeef}
.pp-category-detail-item dl.last{border-bottom:none}
.pp-category-detail-item li{float:left;width:25%}
.pp-category-detail-item .em{color:#c00}
.pp-category-detail-channel{padding:20px;background-color:#eaeaea;*zoom:1}
.pp-category-detail-channel:after{content:'\20';display:block;clear:both;height:0}
.pp-category-channel-link{width:93px;height:31px;position:relative;display:block;overflow:hidden;float:left;margin-right:9px;cursor:pointer;vertical-align:top}
.pp-category-detail-channel .baby u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-712px 0}
.pp-category-detail-channel .baby:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-806px 0}

.pp-category-detail-channel .beauty u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-900px 0}
.pp-category-detail-channel .beauty:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1022px 0}
.pp-category-detail-channel .charge u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1144px 0}
.pp-category-detail-channel .charge:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1238px 0}
.pp-category-detail-channel .digi u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1332px 0}
.pp-category-detail-channel .digi:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1426px 0}
.pp-category-detail-channel .food u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1520px 0}
.pp-category-detail-channel .food:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1614px 0}
.pp-category-detail-channel .lady u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1708px 0}
.pp-category-detail-channel .lady:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1802px 0}
.pp-category-detail-channel .life u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1896px 0}
.pp-category-detail-channel .life:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-1990px 0}
.pp-category-detail-channel .man u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2084px 0}
.pp-category-detail-channel .man:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2178px 0}
.pp-category-detail-channel .insure u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2272px 0}
.pp-category-detail-channel .insure:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2366px 0}
.pp-category-detail-channel .props u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2460px 0}
.pp-category-detail-channel .props:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2554px 0}
.pp-category-detail-channel .gift u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2648px 0}
.pp-category-detail-channel .gift:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2742px 0}
.pp-category-detail-channel .car u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2836px 0}
.pp-category-detail-channel .car:hover u{background-image:url(pp-header-0905105358.png?max_age=19830211&d=0905105359);background-position:-2930px 0}
