/*网站头部*/
body{-moz-user-select:-moz-none; -ms-user-select:-ms-none;background-color:#fff;}
.mmbg{display:none;}

/*超市导航背景*/
#marketNavWarp{ z-index:10; width:100%; margin:0; height:28px; position:relative; background:#1879cc;border-top:1px solid #d8d7d8; border-bottom:3px solid #d8d7d8;}

/*超市导航*/
#market_navWarp{ width:960px; margin:0 auto; height:28px; position:relative;}

/*超市商品分类*/
.goodsClassWarp{position:relative; width:186px; float:left; }
.marketClassTitle{ height:28px; line-height:28px;; font-size:12px;  text-indent:20px; color:#fff; position:relative;}
#market_navWarp h3.hover{ background-color:#1361a3;}
.triangle{ 
	display:none;
	position:absolute; right:10px; top:14px; 
	transform:rotate(0deg);
	transform-origin:center center;
	transition:all 200ms linear;
	
	-webkit-transform:rotate(0deg);
	-webkit-transform-origin:center center;
	-webkit-transition:all 200ms linear;
	
	-moz-transform:rotate(0deg);
	-moz-transform-origin:center center;
	-moz-transition:all 200ms linear;
	
	-ms-transform:rotate(0deg);
	-ms-transform-origin:center center;
	-ms-transition:all 200ms linear;
}
#market_navWarp .HoverTriangle{
	border-color:transparent transparent #fff \9; 
	border-style: dashed dashed solid \9; 
	top:9px;
	transform:rotate(180deg);
	
	-webkit-transform:rotate(180deg);
	
	-moz-transform:rotate(180deg);
	
	-ms-transform:rotate(180deg);
}



/*左侧多航列表*/
	/*一级导航*/
.first-class{ box-shadow:0px 3px 3px #d4d3d4; width:184px; position:absolute; top:28px; left:0; background:#fff; border:1px solid #ebeaeb;border-top:none;}
.first-class h4{ position:relative; line-height:36px; height:36px; text-indent:21px; font-size:12px;}
.first-class .double h4{ background:#f2f2f2; position:relative;}

/*鼠标划过*/
.first-class h4.hover{ background:#f87206; z-index:1; width:185px; border-top:1px solid #f2f2f2;}
.first-class h4.hover a{color:#fff;}
.first-class h4.hover a:hover{ text-decoration:underline;}
.first-class h4.hover span{ background:url('../images/common/super-index-spri.png') no-repeat -20px -30px; width:8px; height:12px; right:9px; top:13px; overflow:hidden; position:absolute;}

/*二级导航*/
.second-class{ display:none;box-shadow:0px 3px 3px #d4d3d4; border:1px solid #ebeaeb; border-left:none;  position:absolute;  z-index:3; background:#fff; left:186px; width:262px; padding:9px 20px 9px;}
.second-class h5{ font-size:14px; border-bottom:2px solid #f87206; color:#f87206; height:24px; line-height:24px;}


/*三级导航*/
.third-class{ overflow:hidden; margin-bottom:8px; padding:5px 0;}
.third-class a:hover{ text-decoration:underline;}

.third-class dt{ height:34px; line-height:34px;font-weight:bold;}
.third-class dt a{color:#f87206;}
.third-class dd{ line-height:28px; word-wrap:break-word; word-break:break-all; white-space:nowrap;  font-size:12px; float:left; color:#dedede; padding-right: 5px;}
.third-class dd a{  color:#666; padding:0 5px; font-family:'宋体'; white-space:nowrap;}
.third-class dd a.first{ padding-left:0;}

/*超市列表*/
#marketNav{padding-left:8px;  float:left;}
#marketNav li{ float:left; margin-right:3px;}
#marketNav a{ display:block; height:28px; float:left; line-height:28px;font-weight:bold; color:#fff; padding:0 20px; }
#marketNav li.hover{ background:#0a3052;}

/*地址*/
#market_navWarp .userAddress{ position:absolute; right:163px; top:0; height:28px; float:left; line-height:28px; color:#fff;}
#market_navWarp .userAddress i{ position:absolute; width:11px; left:0; top:4px; height:17px; background:url('../images/common/super-index-spri.png') no-repeat -2px -77px; }
#market_navWarp .userAddress span{overflow:hidden;left:0;  top:0; float:left;  padding:0 0 0 20px; max-width:120px; _width:120px; white-space:nowrap; word-break:break-all; text-overflow:ellipsis;}
#market_navWarp .userAddress .restAddress,#market_navWarp .otherAddress{color:#a3c9eb; padding-left:5px; float:left;}
#market_navWarp .userAddress a:hover{ text-decoration:underline; color:#fff;}
/*下拉可选地址*/
#market_navWarp .otherAddress{ position:relative; width:13px; height:13px; top:7px; left:5px; cursor:pointer; background:url('../images/common/more.gif') no-repeat 0 0;}
#market_navWarp .hover{ background-position:0 -13px;}
#market_navWarp  .userAddress ul{ position:absolute;  width:240px; top:28px; left:0; border:3px solid #1879cc; background:#f0f7fc; padding:5px 0 10px;}
#market_navWarp  .userAddress li{ height:26px; line-height:26px; padding-left:10px; cursor:pointer;}
#market_navWarp  .userAddress .btns a{ width:100px; font-weight:bold; margin-right:9px; text-align:center; color:#fff; height:24px; background:#F79900; border:1px solid #DD6504; border-radius:4px; float:left;}
#market_navWarp  .userAddress ul .hover{ color:#fff; background:#fdd4b4 }
#market_navWarp  .userAddress ul b{ width:60px; }
#market_navWarp  .userAddress ul address{width:160px;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-all;}
#market_navWarp  .userAddress ul b,#market_navWarp  .userAddress ul address{height:100%; line-height:2; float:left; color:#666;}

/*购物车*/
#shopCartWarp{width:140px; padding-right:10px; float:right; position:relative;}
#shopCartWarp .shopCartTop{ cursor:pointer; height:28px; font-weight:normal; position:relative;background:#1361a3 url('../images/common/super-index-spri.png') no-repeat -10px 8px; }
#shopCartWarp .shopCartTop span{ font-size:12px; color:#fff; line-height:28px; padding-left:35px;}
#shopCartWarp b{ position:absolute; top:14px; right:11px;}
#shopCartWarp .triangle{ display:block;}


	
#shopCartWarp .shopCartTop i{ padding-left:19px;}

.shopCartContent{ right:0; padding:9px 20px 9px 9px; position:absolute;  top:28px; border:3px solid #1361a3; z-index:3; background:#fff; }
#shopCart-goods-warp{  width:242px;}
#shopCart-goods-warp .shop-class-goods{ position:relative;}

/*滚动条*/
#scrollBox{ width:7px; height:50px; background:#a3a3a3; position:absolute; right:-14px; top:0; z-index:9;}

#shopCart-goods-warp  h4{ font-weight:normal; font-size:12px; height:26px; line-height:26px; color:#222; border-bottom:1px dashed #d3d3d3; position:relative;}
#shopCart-goods-warp  h4 span{ position:absolute; right:4px; height:26px; line-height:26px; color:#f87206;}
#shopCart-goods-warp .shop-class-goods .goodBox{ overflow:hidden; position:relative;}
#shopCart-goods-warp .shop-class-goods ul{ background:#fff; padding:10px 0;   position:absolute; top:0; width:100%;}
#shopCart-goods-warp .shop-class-goods ul li{ border-bottom:1px dashed #d3d3d3; padding:5px 0 14px 0; width:100%;}
#shopCart-goods-warp .shop-class-goods .info{ width:98%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:22px; line-height:22px; position:relative;}
#shopCart-goods-warp .shop-class-goods .del{ position:absolute; right:0; top:5px;}
.handle{ position:relative; height:19px; line-height:19px;}
.handleWarp{ position:absolute; left:121px; top:0; height:19px; width:70px;}
#shopCart-goods-warp .money{ position:absolute; right:0; top:0; height:19px; line-height:19px;}
.handleWarp label{ cursor:pointer; height:19px; font-size:0; line-height:0; color:#999; float:left; width:19px;  background:url('../images/common/super-index-spri.png') no-repeat 0 -58px;}
.handleWarp input{ float:left; width:28px; text-align:center; line-height:17px; overflow:hidden; height:17px; border-top:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;padding: 0px 0px;}
.handleWarp .add{ background-position:-20px -58px;}

#goAccounts{  display:block; height:36px; margin:16px 0 0 2px; width:237px; cursor:pointer; text-indent:-9999px;}
.goAccounts{background:url('../images/common/super-index-spri.png') no-repeat 0 -134px;}
.disable{ background-position:0 -171px;}
#shopCart-goods-warp  .sum{ height:32px; line-height:32px; color:#222; text-align:right;}
#shopCart-goods-warp  .sum span{ color:#f87206; padding-left:8px;}


/*banner*/
#banner{ width:960px; margin:0 auto; }
#banner .goodsClassWarp{ width:184px; float:left; z-index:9;}
#banner .bannerWarp{ float:right;}
#banner .goodsClassWarp .first-class{ top:-1px;} 
/*#banner .goodsClassWarp .first-class li{ position:relative;} 
*/
/*幻灯片*/
#bannerBox{ width:766px; height:351px; overflow:hidden; position:relative; margin-top:9px;}
#bannerPiclist{ position:absolute; overflow:hidden; top:0; left:0;}
#bannerPiclist li{float:left;}
#bannerIndex{ position:absolute; right:0; bottom:12px;}
#bannerIndex li{ cursor:pointer; width:16px; height:16px; float:left; margin-right:10px; color:#fff; font-size:12px; border-radius:16px; text-align:center; line-height:16px; background:#777;}
#bannerIndex .active{background:#f87206;}

/*商品分类*/
.goodsList{ width:961px; margin:30px auto 0; }
.goodsList h2{ height:25px;  border-bottom:3px solid #4c4c4c; padding-right:4px; position:relative; }
.goodsList .bg{background: url('../images/common/super-index-spri.png') no-repeat 956px -30px;}
.goodsList .goodsListTitle{ font-size:16px; text-indent:9px; position:absolute; left:0; bottom:-3px; _bottom:-4px; height:21px;  background:#fff; border-left:3px solid #f87206; padding:0 14px 0 0;}
.goodsList .small-goodslist{ overflow:hidden; background:#4c4c4c url('../images/common/super-index-spri.png') no-repeat 0 0; padding-left:12px; line-height:25px; float:right;  height:25px; font-size:12px; color:#717171}
.goodsList .small-goodslist .last{ }
.goodsList .small-goodslist a{ font-size:12px; display:inline-block; height:25px;  zoom:1; color:#fff; padding:0 15px 0 11px; background:#4c4c4c;}
.goodsList .goodsShow{ margin-top:18px; overflow:hidden;}
.good-item{ float:left; width:181px;  border:2px solid #eaeaea;  margin-right:9px;}
.good-item .img{ width:181px; height:207px; overflow:hidden; }
.goodsList .goodsShow .last{ margin-right:0; }
.goodsList .goodsShow .active{ border-color:#f87206;}
.good-item .goodInfo{ height:69px; padding:0 10px 10px;}
.good-item.active .goodInfo{ background:#f2f2f2; }
.good-item .goodName{ text-align:center; padding:5px 0 0; margin-bottom:5px; height:36px; word-break:break-all; word-wrap:break-word; overflow:hidden; }
.good-item .goodName a{ color:#333;}
.good-item .goodName a:hover{ text-decoration:underline; color:#f60;}
.good-item .addCart{ height:26px;}
.good-item .addCart span{ color:#e00d00; float:left; height:26px; line-height:26px;}
.good-item .addCart button{ text-indent:-9999px;  width:110px; float:right; cursor:pointer;   height:26px; background:url('../images/common/super-index-spri.png') no-repeat right -90px;}
.good-item .addCart .hover{ background-position:right -117px;}
.good-item .addCart .disable{ background-position:right -144px;}

/*列表页*/
#list-main{ width:962px; margin:0 auto; min-height:520px; _height:520px;}
#list-main .goodsList{float:right; width:767px; margin:0;}
#list-main .goodsList li{ margin-bottom:20px;}
#list-main  .first-class{ top:0;}
#list-sort{ height:25px; border-bottom:3px solid #f87206;  margin-top:20px; }
#list-sort p{ height:24px;border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; float:left;}
#list-sort a{ float:left; padding:0 22px 0 10px; border-right:1px solid #dcdcdc; line-height:24px; height:24px; background:#f4f4f4 url('../images/common/super-index-spri.png') no-repeat 40px -92px;;}
#list-sort .sort{ background-position:-8px -92px}
#list-sort .defualt{ background-position:64px -92px;}
#list-sort .active{ border:1px solid #f87206; position:relative; z-index:3; left:-1px; padding:0 13px; top:-1px; background:#f3f3f3;}
/*列表页左侧导航*/
#list-main .list-list1{ position:static; width:185px; float:left; background:#f2f2f2; padding-bottom:6px;}

.list-goods{ width:185px; float:left; background:#f2f2f2;}
.list-goods h4{ text-indent:0; height:36px; line-height:36px; padding:0 0 0 41px; position:relative;}
.list-goods .active{ background:#f60; }
.list-goods .active a{  color:#fff;}
.list-goods .active a:hover{text-decoration:underline; }
.list-goods h4 span{ overflow:hidden; font-size:12px; cursor:pointer;position:absolute; left:20px; bottom:12px; width:9px; height:9px; border:1px solid #333; text-align:center; line-height:9px;}
#list-main .list-list2{ display:none; padding:10px 0 7px 40px; background:#fff; overflow:hidden;}
#list-main .list-list2 a{ text-overflow:ellipsis; overflow:hidden; word-break:break-all; white-space:nowrap;  line-height:24px; width:71px; color:#333; float:left;}
#list-main .list-list2 a:hover{  text-decoration:underline; color:#f64500;}
#list-main .list-list2 .active{  color:#f64500; background:none;}



/*超市搜索结果页*/
#search-goods{ width:960px; margin:7px auto 0; min-height:700px;}
#search-goods .goodsList li{ margin-bottom:20px;}

#search-goods .search-tips{ height:32px; color:#333; line-height:32px; border-bottom:3px solid #4c4c4c; margin-bottom:16px;}
#search-goods .searchResult{ padding:18px 0 0;}
#search-goods .shopResultMap{ padding-right:81px;}
#search-goods .resultNum{ color:#f87206; font-weight:bold; padding-right:3px;}
#searchMain{ width:961px; overflow:hidden;}
#searchMain .searchSide{ float:left; width:185px; margin-right:9px; }
#searchMain .searchSide ul{ background:#f2f2f2; }
#searchMain .searchSide li{ position:relative; }
#searchMain .searchSide .active a{ color:#f60; }
#searchMain .searchSide li a{ height:36px; line-height:36px; display:block;  padding-left:30px; color:#333; font-weight:bold; }
#searchMain .searchSide li i{ height:9px; width:5px; position:absolute; overflow:hidden; font-size:0; background:url('../images/common/super-index-spri.png') no-repeat -51px -81px; right:27px; top:13px;}
#searchMain .searchSide .active i{ background-position:-40px -81px;}

#searchMain .goodsList{ float:left; width:767px; margin:0;}
#searchMain .goodsList .goodsShow{  margin:0;}

	/*没有搜索结果*/
.noResult { padding:15px 0 0; }	
.noResult p{ line-height:24px; text-align:center; font-size:14px; }	

/*购物车页*/
#market-cart{ width:960px; margin:0 auto; padding:18px 0 50px;}

	/*配送详情*/
	.details{ margin-bottom:24px;}
	.details .details-item{ margin-bottom:10px; position:relative;}
	.details .details-item .tip{  position:relative;  zoom:1; height:17px; color:#f60; padding-left:26px; background:url("../images/common/reg_icon.gif") no-repeat  7px -28px;}
	.details .details-item .default{  padding-left:26px; background:url("../images/common/reg_icon.gif") no-repeat  7px 0;}
	.details .details-item .error{ background-position:7px -57px}
	.details .zIndex{ z-index:6;}
	.details .zIndex .tip{ position:relative; top:4px;}
	.details .details-item label{ float:left; line-height:27px; height:27px; width:43px; text-align:right;}
	.details .details-item input{ text-indent:3px; line-height:25px; color:#999; height:25px; width:232px; border:1px solid #d4d4d4}
	
	/*送达*/
	
	#market-cart-service p,#market-cart-service .time{ color:#666; background:url('../images/common/datebg.png') repeat-x; margin-top:3px; margin-right:5px; float:left; height:20px;}
	#selectDate,#selectBtn{border-left:1px solid #d6d6d6; cursor:pointer; position:relative; width:19px; height:18px; float:left;}
	#market-cart-service  .triangle{ position:absolute; top:8px; border-width:4px; right:6px; display:block; border-top-color:#8c8c8c; }
	#market-cart-service .date,#market-cart-service .time{ height:18px; border:1px solid #d6d6d6; width:113px;float:left;}
	#dateShow,#selectText{ width:93px;  float:left; height:18px; line-height:18px; text-align:center;}
	
	#market-cart-service{  float:left;position:relative; z-index:9; }
	#market-cart-service .time{ width:69px; }
	#market-cart-service input{ color:#666; background:url('../images/common/datebg.png') repeat-x;}
	#timesSel{ position:absolute; display:none; max-height:240px; overflow-y:auto; top:18px; z-index:6; left:-51px; width:69px; text-align:center; background:#fff; border:1px solid #ccc;}
	#timesSel li{ line-height:24px;} 
	#selectText{ width:49px; height:18px; line-height:18px;}
	#dataSel{position:absolute; display:none; max-height:240px; overflow-y:auto; top:18px; z-index:6; left:-95px; width:113px; text-align:center; background:#fff; border:1px solid #ccc;}
	#dataSel li{line-height:24px;}
	#timesSel li.on{background-color:#1879cc;color:#fff;}
	#dataSel li.on{background-color:#1879cc;color:#fff;}
	#market-cart-service .date{margin-top: 3px;margin-right: 5px;}
	/*支付*/
	.market-cart-radio{   float:left; padding:6px 0 0 9px; width:80%;}
	.market-cart-radio li{ cursor:pointer; padding-left:19px; color:#666; background:url('../images/common/super-index-spri.png') no-repeat -42px -23px; float:left; height:14px; line-height:14px; margin-right:59px;}
	.market-cart-radio .Direct{height:auto;}
	.market-cart-radio .active{ background-position:-42px -42px; }
	#payTips{ position:absolute; top:0; left:550px; height:18px;}
	
		/*充值直扣*/
	#Direct{ float:left; display:block; width:253px;padding:5px; border:3px solid #A1BEE0; position:relative;left:0; margin-top:5px; background:#fff;}
	#Direct input{ width:120px;}
	#Direct p{ line-height:24px;}
	#Direct p label{ width:120px;}
	#Direct p strong{ color:#f60; padding-right:3px;}
	#Direct p.tips{ color:#333; padding-left:135px;}
	#Direct p.error{ color:#f50;}
	#remarks{ vertical-align:top;width:400px; padding:0 10px; line-height:24px; color:#999; resize:none; height:124px; border:1px solid #d1d1d1;}
	
	/*购物车列表*/
	#listData{background:#f7f7f7;}
	#market-cart .cart-list ul{ width:100%; text-align:center;  border-top:5px solid #d9e3f2;}
	#market-cart .cart-list .tHead{  height:33px; line-height:33px;border:none; background:#e5efff; }
	#market-cart .cart-list .tHead span{font-weight:normal;}
	#market-cart .cart-list  li{ height:55px; overflow:hidden; line-height:55px; border-top:1px #ccc dashed;}
	#market-cart .cart-list  li span{ float:left; width:25%; height:100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-all;}
	#market-cart .cart-list .first{ border-top-style:solid;}
	#market-cart .cart-list .goodName{ font-weight:bold;}
	#market-cart .cart-list .RMB{ position:relative; line-height:55px;}
	#market-cart .cart-list .del{ position:absolute; top:22px; right:69px; width:11px; height:11px;}
	#market-cart .handleWarp{ position:static; margin:20px auto 0; }
	
	#market-cart .market-cart-priceInfo{ overflow:hidden; padding-right:68px; font-weight:bold; color:#797979; text-align:right; height:58px; padding-top:18px;}
	#market-cart .market-cart-priceInfo  b{ display:inline-block; vertical-align:middle;}
	#market-cart .market-cart-priceInfo span{ zoom:1; padding-right:21px; color:#f87206; font-size:24px; font-weight:normal; }
	#market-cart .market-cart-priceInfo button{zoom:1; vertical-align:middle;width:262px; margin-right:5px\9; height:34px; line-height:34x; background:#fa9911; color:#fff; border:1px solid #dd6504; border-radius:5px;}

/*页脚*/
#footerWarp{ margin-top:40px;}

/*首页提示弹出框*/
#alert .alert_content .btns{ height:24px; text-align:center; padding-left:95px;}
#alert .alert_content{ height:auto;}

#alert .alert_content .btns a{ margin-right:8px; height:24px;  width:90px; background:#f79800; color:#fff;  float:left; line-height:24px;}
#alert_cancelBtn{ position:static; font-size:12px; width:auto;}

/**/
/*内页导航*/
.menubox{ width:100%; height:40px;  background:url('../images/common/repeatx.png') repeat-x 0 -140px}
.menu{ width:960px; height:40px; line-height:40px; margin:0 auto; overflow:hidden;}
#menu{padding-left:10px;}
#menu li{ float:left; height:40px;}
#menu li a{ float:left; display:block; padding:0 35px; height:40px; cursor:pointer;}
#menu li a span{float:left;	padding:0 45px 0 10px;line-height:40px;font-size:14px; color:#666; }
#menu li a:hover{ background:url('../images/common/menu_left.png') no-repeat left top; filter:alpha(opacity=50); opacity:0.5; }
#menu li a:hover span{background:url('../images/common/menu_right.png') no-repeat right top; color:#fff; text-decoration:none; }
#menu li a.cur{ background:url('../images/common/menu_left.png') no-repeat left top;filter:alpha(opacity=100); opacity:1; }
#menu li a.cur span{background:url('../images/common/menu_right.png') no-repeat right top;color:#fff; font-weight:bold; }



input:-webkit-autofill {
	
}
.del {
cursor: pointer;
width: 11px;
height: 11px;
overflow: hidden;
background: url('../images/common/super-index-spri.png') no-repeat -45px -62px;
}
#addload img{width:100%;height:100%;}
.triangle, .triangle2 {
height: 0;
overflow: hidden;
cursor: pointer;
border-width: 5px;
border-color: #fff transparent transparent;
border-style: solid dashed dashed;
}