@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
body{color:#333;font-size:12px;font-family:"宋体"; background:#f3f3f3;}
ul,li{list-style:none;margin:0;padding:0;}
select,input{font-size:12px;vertical-align:middle;}
img{border:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a{color:#333;text-decoration:none;}
a:hover{color:#f00;text-decoration:none;}

/*首页开始*/
body{background:#FFFFFF;}
.dbt{width:100%; height:78px; background:#f5f5f5;border-bottom:2px #d0d0d0 solid;}

.tonglan{background:url(../images/beijing.png) no-repeat; width:100%; height:422px;background-size:100% 422px; }


.box-1{width:1348px; height:78px; margin:0 auto; position:relative; background:#f5f5f5;}
.box-1 img{float:left; position:absolute; left:344px; top:9px;}
.box-1 ul{width:438px; height:80px; position:absolute; left:562px; line-height:80px;}
.box-1 ul li{float:left; width:90px; text-align:center; margin-left:10px;}
.box-1 ul li.box-1-chengse a{color:#fa8511; background:url(../images/home_09_03.png) no-repeat; display:block;}
.box-1 ul li a{font-size:16px;}
.box-1 ul li a:hover{color:#fa8511; background:url(../images/home_09_03.png) no-repeat; display:block;}

.box-2{width:1348px; height:422px; margin:0 auto; position:relative;}
.box-2 h1{font-size:20px; font-family:微软雅黑; position:absolute; left:227px; top:190px; color:#FFFFFF;}
.box-2 .box-2-shouji{position:absolute; left:165px; top:28px;}
.box-2 .box-2-reweima{position:absolute; left:184px; top:230px;}
.box-2 .dianjihou1{position:absolute; left:376px; top:235px; background:url(../images/home_14.png) no-repeat; width:240px; height:58px;}
.box-2 .dianjihou1:hover{background:url(../images/dianjihou_04.png) no-repeat; width:240px; height:58px;}
.box-2 .dianjihou2{position:absolute; left:376px; top:324px; background:url(../images/home_21.png) no-repeat; width:240px; height:58px;}
.box-2 .dianjihou2:hover{background:url(../images/dianjihou_07.png) no-repeat; width:240px; height:58px;}

.box-3{width:1348px; height:2416px; margin:0 auto;}

.box-4{width:1348px; height:338px; margin:0 auto; background:#f2f2f2; position:relative;}
.box-4-T{position:absolute; left:475px; top:62px;}
.box-4-reweima{position:absolute; left:463px; top:135px;}
.dianjihou3{position:absolute; left:646px; top:140px; width:240px; height:68px; background:url(../images/home_16.png) no-repeat;}
.dianjihou3:hover{background:url(../images/dianjihou_16.png) no-repeat;}
.dianjihou4{position:absolute; left:646px; top:223px; width:240px; height:68px; background:url(../images/home_20.png) no-repeat;}
.dianjihou4:hover{background:url(../images/dianjihou_19.png) no-repeat;}

.box-5{width:1348px; height:30px; margin:0 auto; background:#737373; text-align:center; line-height:30px; font-size:12px; font-family:微软雅黑; color:#FFFFFF;}
/*首页结束*/


/*商家开始*/
.shangjia{background:url(../images/ds-1_01.png) no-repeat; height:546px;}
.tonglan1{background:#fa8511; width:100%; height:546px;background-size:100% 422px; }
.shangjia h2{position:absolute; color:#FFFFFF; font-size:30px; left:390px; top:150px; font-family:方正粗宋简体;}
.shangjia p{width:380px; height:227px; line-height:34px; position:absolute; left:390px; top:210px; font-family:华文细黑; font-size:24px; color:#FFFFFF;}
.shangjia .zhuce{width:390px; height:460px; position:absolute; right:150px; top:45px; background:#FFFFFF;}
.shangjia .zhuce h3{width:390px; height:45px; background:#40ace2; text-align:center; line-height:50px; font-size:16px; font-family:华文细黑; color:#FFFFFF; margin-bottom:9px;}
.shangjia .zhucexinxi1{width:325px; height:43px; border:1px #dcdcdc solid; font-size:16px; color:#9f9a9a; font-family:华文细黑; margin-top:13px; margin-left:24px; padding-left:13px; line-height:43px;}
.shangjia .zhucexinxi2{width:133px; height:43px; line-height:43px; padding-left:13px;}
.shangjia .yanzm{width:148px; height:37px; background:#000000; text-align:center; position:absolute; left:215px; top:300px;}
.shangjia .zhucexinxi3{background:#fa8511; width:339px; height:53px; border:none; color:#FFFFFF; font-size:24px; line-height:58px;}
.box-6{margin:0 auto; width:1348px;}
/*商家结束*/

/*关于开始*/
.guanyu-1{width:1030px; margin:0 auto;}
.guanyu-1 .ding{margin-top:40px;}
.guanyu-1 h1{font-size:16px; color:#000000; font-family:微软雅黑; height:70px; line-height:70px; font-weight:blod;}
.guanyu-1 p{font-size:12px; font-family:微软雅黑; margin-bottom:20px;}
.guanyu-1-biankuang{border-bottom:1px #CCCCCC dashed; width:1030px; padding-bottom:20px;}
.guanyu-1 h2{font-size:16px; color:#000000;font-family:微软雅黑; height:70px; line-height:70px;margin-top:20px;}
.guanyu-1 ul{clear:both; width:1030px; height:188px;}
.guanyu-1 ul li{font-size:12px; font-family:微软雅黑; width:500px; line-height:25px;}
/*关于结束*/


/*商家后台开始*/
.houtai{width:1350px; height:656px; margin:0 auto; position:relative;}
.houtai .houtai-zt{position:absolute; left:108px; top:37px;}
.houtai .jiao1{position:absolute; left:714px; top:196px;}
.houtai .jiao2{position:absolute; left:716px; top:543px;}
.hengtiao{width:100%; height:296px; background:#eb6222; position:absolute; top:247px; margin:0 auto; z-index:0;}
.hengtiao .zhongjian{width:1350px; height:296px; margin:0 auto; position:relative;}
.hengtiao .logo{position:absolute; left:208px; top:14px;}
.hengtiao .erweima{position:absolute; left:550px; top:95px;}
.hengtiao p{width:10px; height:79px; position:absolute; left:667px; top:110px; font-size:8px;}
.houtai .denglu{width:432px; height:396px; background:#ff7d41; position:absolute; right:157px; top:196px; z-index:1;}
.houtai .denglu .shouji{width:282px; height:52px; line-height:52px; position:absolute; left:73px; top:40px; background:#FFFFFF; border:none;font-size:20px; color:#9f9a9a; font-family:华文细黑; padding-left:20px;}
.houtai .denglu .mima{width:282px; height:52px; line-height:52px; position:absolute; left:73px; top:130px; background:#FFFFFF; border:none;font-size:20px; color:#9f9a9a; font-family:华文细黑; padding-left:20px;}
.houtai .denglu .yanzhengma{width:118px; height:52px; line-height:52px; position:absolute; left:73px; top:220px; background:#FFFFFF; border:none;font-size:20px; color:#9f9a9a; font-family:华文细黑; padding-left:20px;}
.houtai .denglu .yanma{position:absolute; left:224px; top:224px;}
.houtai .denglu a p{width:37px; height:44px; line-height:20px;}
.houtai .denglu a{position:absolute; left:324px; top:227px;}
.houtai .denglu .dlanniu{position:absolute; left:73px; top:303px; background:url(../images/dl_18.png) no-repeat; width:302px; height:58px; border:none; cursor:pointer;}
/*商家后台结束*/


































































 