.modal.fade.in {
top: 50%;
transition: opacity .3s linear,top .3s ease-out;
}
.fade.in {
opacity: 1;
}
.modal-who-get-dishes {
margin: -250px 0 0 -180px;
width: 360px;
}
.hide, .hidden {
display: none;
}
.modal {
position: fixed;
top: 50%;
left: 50%;
z-index: 1050;
width: 560px;
margin: -250px 0 0 -280px;
background-color: #fff;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,0.3);
border-radius: 6px;
box-shadow: 0 3px 7px rgba(0,0,0,0.3);
background-clip: padding-box;
outline: 0;
}
.fade {
-webkit-transition: opacity .15s linear;
-moz-transition: opacity .15s linear;
-ms-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;
opacity: 0;
}
.modal-header {
padding: 9px 15px;
border-bottom: 1px solid #eee;
}
.modal-header .close {
margin-top: 2px;
}
.close {
float: right;
font-size: 20px;
font-weight: bold;
line-height: 18px;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .2;
filter: alpha(opacity=20);
}
a {
cursor: pointer;
}
h3 {
line-height: 27px;
font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}

.modal-body {
position: relative;
overflow-y: auto;
max-height: 450px;
padding: 15px;
}

.who-get-dishes-wrapper {
position: relative;
margin: 0 auto 10px;
padding-top: 15px;
width: 300px;
color: #555;
box-shadow: 1px 1px 2px #DDD;
background-color: #dbf0fa;
}
.wgd-badge {
display: block;
width: 186px;
height: 188px;
margin: 0 auto;
background: url("../images/global-sprites.png") no-repeat 0 -170px;
}
h2 {
font-size: 24px;
line-height: 36px;
}
wgd-btn {
display: block;
margin: -45px auto 20px auto;
width: 271px;
height: 40px;
background: url("../images/global-sprites.png") no-repeat 0 -50px;
-ms-user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.wgd-rules {
position: relative;
display: block;
margin-bottom: 10px;
text-align: center;
color: #777;
background: #dbf0fa;
}


.wgd-rules:before, .wgd-rules:after {
content: '';
position: absolute;
left: 15px;
top: 5px;
display: block;
height: 7px;
width: 40px;
background-color: #ccc;
}
.wgd-rules:after {
left: auto;
right: 15px;
}
Inherited from div.who-get-dishes-wrapper
.who-get-dishes-wrapper {
position: relative;
margin: 0 auto 10px;
padding-top: 15px;
width: 300px;
color: #555;
box-shadow: 1px 1px 2px #DDD;
background-color: #dbf0fa;
}
.wgd-bg-text {
position: absolute;
bottom: 40px;
right: 0;
font-size: 73px;
line-height: 1em;
color: white;
}
.wgd-result-list {
margin: 0 10px;
padding: 5px;
height: 180px;
list-style: none;
}
modal-backdrop, .modal-backdrop.fade.in {
opacity: .6;
filter: alpha(opacity=60);
}
.modal-backdrop.fade {
opacity: 0;
}
.fade.in {
opacity: 1;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: .6;
filter: alpha(opacity=60);
}
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000;
}
.fade {
-webkit-transition: opacity .15s linear;
-moz-transition: opacity .15s linear;
-ms-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;
opacity: 0;
}

.wgd-btn {
display: block;
margin: -45px auto 20px auto;
width: 271px;
height: 40px;
background: url("../images/global-sprites.png") no-repeat 0 -50px;
-ms-user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.wgd-btn:hover {
background-position: 0 -90px;
}


.who-get-dishes-wrapper .you-item {
color: #fe5a23;
font-weight: bold;
background: url("../images/global-sprites.png") no-repeat 0 -370px;
height: 19px;
line-height: 19px;
}
.modal-who-get-dishes {
margin: -250px 0 0 -180px;
width: 360px;
}
