 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}> 
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/shoplist.css">  
<style>
	.listselect {
margin-top: 10px;
margin-bottom: 10px;
background-color: #fff;
}
.liststyle1 li {
margin-left: 5px;
margin-right: 5px;
padding-left: 10px;
padding-right: 10px;
border-bottom: 1px solid #e5e5e5;
display: -webkit-box;
display: -moz-box;
display: -o-box;
display: box;
-webkit-box-align: center;
-moz-box-align: center;
-o-box-align: center;
box-align: center;
padding-top: 5px;
padding-bottom: 5px;
}
.listselect h1 {
	margin-top:10px;
color: red;
font-weight: bold;
padding-left: 10px;
line-height: 40px;
height: 40px;
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
}
	</style>
<{/block}>
 <{block name=extendjs}>  
 <script>
$(function(){ 
  	$('#feedbackSubmit').click(function(){   
  	   	$('#loading').toggle(); 
  	    var info = {'content':$('#feedbackContent').val(),'shopid':'0','Captcha':'','type':'5'}; 
		    var url =  siteurl+'/index.php?controller=ask&action=saveask&datatype=json&random=@random@';  
		     $.ajax({ 
             url: url.replace('@random@', 1+Math.round(Math.random()*1000)), 
            dataType: "json", 
            data:info, 
            success:function(content) { 

            	   $('#loading').toggle();
            	   if(content.error ==  false){
            	   	Tmsg('操作成功');
            	   	location.reload();  
            	   }else{
            	   	Tmsg(content.msg);
            	   }

            },

            error:function(){

            	   $('#loading').toggle();

            }

         });  
	 });
});
</script>
<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=hearnav}><{/block}>
<{block name=blockcontent}> 
  

  

    

  

  <div class="container" style="padding-top:0px;background:none;">

  	<section>

  		<div class="xinghao"><textarea id="feedbackContent" placeholder="请输入您的反馈意见（必填500字以内）"></textarea></div><div class="inputZ"><input id="feedbackTelOrEmail" class="inputInp" type="text" placeholder="邮箱地址/手机号码"></div><b class="miaoshu">如果你想了解反馈结果，请留下邮箱或手机号码</b><input id="feedbackSubmit" class="inputBtn" type="button" value="提交">

  	</section>
  
 <section class="listselect">
 	     <h1>最近10条留言  </h1>
 	     <div style="clear:both;"></div>
  			<ul class="liststyle1">
  				  <{load_data assign="comentlist" table="ask"   fileds="*"   limit="10" orderby=" id desc" }>  
  				  <{if count($comentlist['list']) > 0}>
  				    <{foreach from=$comentlist['list'] item=items}>
  				     <li class="touchend">
  			  	      <div class="liwd50"><{$items['content']}></div>
  			  	      <div class="liwd50 ">
  			  	      	 <div  >
  			  	      	 	   <{$items['addtime']|date_format:"%Y-%m-%d %H:%M:%S"}></div>
  			  	      	  
  			  	       </div> 
  			       </li>
  			     <{/foreach}>
  				  <{else}>
  				<li class="touchend" style="height:80px;">
  					   <div style="line-height:80px;text-align:center;width:100%;">暂无评价</div>
  			  </li>
  			   <{/if}>
  			 
  			</ul> 
 </section>
 </div>
<{/block}>