 <{extends file="<{$tempdir}>/public/weixin.html"}>  
<{block name=extendcss}> 
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/html5/css/membercenter.css">   
<{/block}>
 <{block name=extendjs}>  
 <script>
 	$(function(){
           var url_back=<{$url_back}>;
    $('#btnExit').click(function(){ 
        
        
  
 	  	 var url =siteurl+'/index.php?controller=wxsite&action=loginout&shopid='+url_back+'&random=@random@';

 	     	  	   url = url.replace('@random@', 1+Math.round(Math.random()*1000));

 	    window.location.href=url;

    });
  });
 </script>
<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}> 
 <div id="hallist">

  <header><div class="return"></div>个人中心</header> 

  <div class="container">

  	<section>

  		<div class="account" style="background-image: url(<{$member['logo']|default:$userlogo}>);"><img src="" alt="">我的账号:<span class="colred fontbold"><{$username}></span></div>

  		<section>

  			<a href="<{ofunc type=url link="/wxsite/order"}>"><div id="myWaiMaiOrderList" class="clkitm">我的订单</div>  </a>

  		</section>

  		<section>

  			<a style="display:none;" href="<{ofunc type=url link="/wxsite/collect"}>"><div id="myFavourite" class="clkitm">商户收藏</div></a>

  			<a href="<{ofunc type=url link="/wxsite/address"}>"><div id="myAddress" class="clkitm">地址管理</div></a>

  			<!--
         <a href="<{ofunc type=url link="/wxsite/modifypwd"}>"><div id="myChangePwd" class="clkitm">密码修改</div></a>

        -->

  		</section>
      <section>
        <a href="<{ofunc type=url link="/wxsite/modifypwd"}>"><div id="myChangePwd" class="clkitm">密码修改</div></a>
      </section>

  		<section style="display:none;">

  			<a href="<{ofunc type=url link="/wxsite/about"}>"><div id="aboutUs" class="clkitm">关于我们</div></a>

  		</section>

    	<div><input type="button" class="inputBtn" id="btnExit" value="退出"></div>

   </section>

<{/block}>