 
 <div class="ajaxlogin">
 <form id="loginForm" method="post" action="<{ofunc type=url link="/member/login"}>">
   <div class="try_3"> 
	   <div class="zt_login_conten"> 
	   	
	   	<div class="logininput">
	   		<label>用户名:</label> <input name="uname" type="text"  class="input1"  placeholder="请输入用户名" value=""/>
	   	</div>
		  	<div class="logininput">
	   		<label>密码:</label> <input placeholder="请输入密码" name="pwd" type="password"  class="input1" value=""/>
	   	</div>
			 
        <{if $allowedcode == 1}>
        <div class="logininput">
           <label>验证码:</label> <input name="Captcha" type="text"  class="inputOne"  placeholder="验证码" value=""/>
	   	</div> 
	   	<div class="logininput"> 
	   		<label>&nbsp;</label>  <img style="margin-left:10px;" width="90" height="45" src="<{ofunc type=url link="/site/getCaptcha"}>" id="captchaimg"><a style="color:#f60;" href="javascript:freshcode();" >刷新图片</a>
	   	</div>
      <{/if}>
			 <div class="logininput">
	   		<label>&nbsp;</label> <a href="javascript:ajaxlogin();" class="loginbtn">登陆</a> <a href="<{ofunc type=url link="/member/regester"}>" class="registerbtn" target="_blank">注册</a> 
	   	</div>
			 
		</div>
	  <a  class="a1" href="<{$siteurl}>/upload/renwodian.apk"></a>
	  <div class="zt_login_bottom">
     
	  </div>
   </div>
   </form>
 </div> 
 
