<{include file="<{$tempdir}>/public/top.html"}>

<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/bootstrap.min.css">
 
 
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/bootstrap.min.js" type="text/javascript" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/shop.css">  

<div class="Restaurant hc_content">
        <!--餐厅头部-->
<div class="RestaurantTop">
    <div class="RTLeft"><img src="<{$shopinfo['shoplogo']|default:$shoplogo}>" width="150px" height="150px"></div>
    <div class="RTCenter">
        <div class="RName">
         
            <a href="javascript:;" id="AddFavShop" class="Jrsc" <{if !empty($collect)}> style="display:none;" <{/if}> onclick="myFavorite2();" >加入收藏</a>
            <a href="javascript:;" <{if empty($collect)}> style="display:none;" <{/if}> onclick="delFav();"   id="CancelFavShop" class="Jrsc">取消收藏</a>
                  <{$shopinfo['shopname']}> <{if $shopopeninfo['opentype'] ==2 || $shopopeninfo['opentype']==3}>[营业]<{/if}>
        </div>
       
           
        
        <div class="RPrice">最低消费：<{$shopinfo['limitcost']}></div>
        <div class="RAddress">地址：<{$shopinfo['address']}></div>
        <div class="RTime">营业时间：<{assign var=newshowtime value="|"|explode:$shopinfo['starttime']}>
						<{foreach from=$newshowtime  item=v}>
						 <{$v}>
						<{/foreach}>
				</div>
        <div class="RIntro" >公告：<{$shopinfo['notice_info']|htmlspecialchars_decode}></div>
         
    </div>
    <div class="RTRight">
        <div class="RTRInfo">
            <ul>
            	<{foreach from=$mainattr item=itat}>
									  <{if $itat['type']=='img'}> 
									      <{foreach from=$itat['det'] item=itdd}>
									          <{foreach from=$shopattr item=itaa}>
									             <{if $itdd['id'] == $itaa['attrid']}> 
									                 <li> <img src="<{$itaa['value']}>"> <span style="padding-left:5px;"><{$itdd['instro']}></span></li>
									             <{/if}>
									          <{/foreach}> 
									      <{/foreach}> 
									  <{/if}>     
									<{/foreach}> 
            </ul>
        </div>
    </div>
</div>



        <!--餐厅头部-->
        <div id="Tab1_01">
        	
        	
            <!--餐厅导航-->
            <div class="RNav">
                <div class="Menubox_01">
                    <ul>
                        <li class="hover"><a href="javascript:;">外卖</a></li> 
                        <li><a href="javascript:;" >餐后点评</a></li>
                        <li><a href="javascript:;" >用户留言</a></li>
                        <li id="one4" class="tips" original-title="暂未开放，敬请期待！"><a href="javascript:;">店铺介绍</a></li>
                    </ul>
                </div>
            </div>
            <!--餐厅导航-->
            
            
            
            <!--餐厅菜单-->
            <div class="RMenu">
                <div class="RMLeft">
                    <div class="Contentbox_01">
                    	
                        <div id="con_one_0" class="hover" data="none">
                            <div class="MealsNav" id="FCMenu">
                                <div class="DishesClass">
                                	<a class="DChover" ind="0" href="javascript:;" onclick="change_shop_list(0,this)">全部</a>
                                	<{foreach from=$goodstype  item=items}>  
			                			       <a href="javascript:;" onclick="change_shop_list(<{$items.id}>,this)"><{$items.name}></a>
			                            <{/foreach}>  
                                </div>
                            </div> 
                            
                            <{foreach from=$goodstype key=cid item=items}> 
                            <div class="MealsCategory" id="Food<{$items.id}>"><{$items.name}></div>
                            
                            
                            <div class="MealsImgList" id="ImgFoodList<{$items.id}>">
                                <ul>
                                	<{foreach from=$items['det'] item=value}>
                                	<{if !empty($value['img'])}> 
                                    <li>
                                        <div class="MILPic"><img style="height:140px;width:180px;" src="<{$value['img']}>"></div>
                                        <div class="MIL1">
                                            <div class="MIL1Left" id="goodsname_<{$value['id']}>"><{$value['name']}></div>
                                            <div class="MIL1Right"><{$value['cost']}>元</div>
                                        </div>
                                        <div class="MIL2">
                                            <div class="MIL2Left"> 
                                                <span class="Star_g tips" original-title="<{$value['point']}>分">
                                                            	<{if $value['point'] != 0}> 
                                                            	<{assign var=long value=$value['point']*20}>
                                                            	<{else}> 
                                                            	<{assign var=long value="100"}>
                                                            	<{/if}> 
                                                                <span class="Star_y" style="width:<{$long}>%;"></span>
                                                </span>
                                                <a href="javascript:;"><{$value['point']}>点评</a>
                                            </div>
                                            <div class="MIL2Right">售<{$value['sellcount']}>份</div>
                                        </div>
                                        <div class="MIL3">
                                            <div class="MIL3Left">
                                                <div class="DishesStatus">
                                                       <{assign var=goodssignlist value=","|explode:$value['signid']}>  
                                                            	      <{foreach from=$goodssignlist key=mytestid item=goodssi}>
                                                            	         <{if $mytestid < 5 && !empty($goodssi) && isset($goodsattr[$goodssi])}> 
                                                            	           <img src="<{$goodsattr[$goodssi]}>">
                                                            	            <{/if}> 
                                                            	      <{/foreach}> 
                                                </div>
                                            </div>
                                            <div class="MIL3Right">
                                                  
                                                   <{if $value['count'] < 1}>
                                                        <div class="DishesOrderout"><a   class="AddOrders"class="AddOrders" data="<{$value['id']}>"  stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>"  shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>" href="javascript:;"></a></div>
                                                        <{else}>
                                                        <div class="DishesOrder"><a  class="AddOrder" data="<{$value['id']}>"  stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>" shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>" href="javascript:;"></a></div>
                                                        <{/if}>
                                           
                                           
                                           
                                            </div>
                                        </div>
                                    </li>
                                    <{/if}>
                                   
                                    
                                    <{/foreach}>  
                                    <div style="clear:both;"></div>
                                   
                                </ul>
                            </div>
                             
                            
                            <div class="MealsList" id="FoodList<{$items.id}>">
                                <ul> 
                                	<{foreach from=$items['det'] item=value}>
                                	<{if empty($value['img'])}>
                                    <li>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td><div class="MLTop"></div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="MLMiddle">
                                                        <div class="DishesName"><a href="javascript:;" id="goodsname_<{$value['id']}>"><{$value['name']}></a><span class="CocaCola"></span></div>
                                                        <div class="DishesService">
                                                            <div class="DishesStatus"> 
                                                            	 
                                                            	      <{assign var=goodssignlist value=","|explode:$value['signid']}>  
                                                            	      <{foreach from=$goodssignlist key=mytestid item=goodssi}>
                                                            	         <{if $mytestid < 5 && !empty($goodssi) && isset($goodsattr[$goodssi])}> 
                                                            	           <img src="<{$goodsattr[$goodssi]}>">
                                                            	            <{/if}> 
                                                            	      <{/foreach}>  
                                                            </div>
                                                        </div>
                                                        <div class="DishesPrice"><span>¥<{$value['cost']}></span></div>
                                                        <{if $value['count'] < 1}>
                                                        <div class="DishesOrderout"><a   class="AddOrders"class="AddOrders" data="<{$value['id']}>" href="javascript:;" stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>" shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>"></a></div>
                                                        <{else}>
                                                        <div class="DishesOrder"><a  class="AddOrder" data="<{$value['id']}>" stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>" shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>" href="javascript:;"></a></div>
                                                        <{/if}>
                                                        <div class="DishesSales">售<{$value['sellcount']}>份</div>
                                                        <div class="DishesScore">
                                                            <span class="Star_g tips" original-title="<{$value['point']}>分">
                                                            	<{if $value['point'] != 0}> 
                                                            	<{assign var=long value=$value['point']*20}>
                                                            	<{else}> 
                                                            	<{assign var=long value="100"}>
                                                            	<{/if}> 
                                                                <span class="Star_y" style="width:<{$long}>%;"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="MLBottom">
                                                        <div class="MLIntro"><{$value['instro']}></div>
                                                        <div class="MLReviews"><{$value['pointcount']}>点评</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </li> 
                                    <{/if}>
                                    <{/foreach}>  
                                </ul>
                            </div>
                            <{/foreach}>  
                            <{if count($blishop) > 0}>
                            <div class="MealsCategory" id="Food0">超市推荐</div>
                             
                            <div class="MealsList" id="FoodList0">
                                <ul> 
                                	<{foreach from=$blishop item=value}> 
                                    <li>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td><div class="MLTop"></div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="MLMiddle">
                                                        <div class="DishesName"><a href="javascript:;" id="goodsname_<{$value['id']}>"><{$value['name']}></a><span class="CocaCola"></span></div>
                                                        <div class="DishesService">
                                                            <div class="DishesStatus"> 
                                                            	      <{assign var=goodssignlist value=","|explode:$value['signid']}>  
                                                            	      <{foreach from=$goodssignlist key=mytestid item=goodssi}>
                                                            	         <{if $mytestid < 5 && !empty($goodssi) && isset($goodsattr[$goodssi])}> 
                                                            	           <img src="<{$goodsattr[$goodssi]}>">
                                                            	            <{/if}> 
                                                            	      <{/foreach}>  
                                                            </div>
                                                        </div>
                                                        <div class="DishesPrice"><span>¥<{$value['cost']}></span></div>
                                                        <{if $value['count'] < 1}>
                                                        <div class="DishesOrderout"><a   class="AddOrders"class="AddOrders" data="<{$value['id']}>"  stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>" shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>" href="javascript:;"></a></div>
                                                        <{else}>
                                                        <div class="DishesOrder"><a  class="AddOrder" data="<{$value['id']}>"  stockdata="<{$value['count']}>" shopdata="<{$value['shopid']}>" costdata="<{$value['cost']}>" shopid="<{$value['shopid']}>" bagcost="<{$value['bagcost']}>" href="javascript:;"></a></div>
                                                        <{/if}>
                                                        <div class="DishesSales">售<{$value['sellcount']}>份</div>
                                                        <div class="DishesScore">
                                                            <span class="Star_g tips" original-title="<{$value['point']}>分">
                                                            	<{if $value['point'] != 0}> 
                                                            	<{assign var=long value=$value['point']*20}>
                                                            	<{else}> 
                                                            	<{assign var=long value="100"}>
                                                            	<{/if}> 
                                                                <span class="Star_y" style="width:<{$long}>%;"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="MLBottom">
                                                        <div class="MLIntro"><{$value['instro']}></div>
                                                        <div class="MLReviews"><{$value['pointcount']}>点评</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </li>  
                                    <{/foreach}>  
                                </ul>
                            </div>
                            <{/if}>
                            
                        </div>
                        
                        <!---用户点评-->
                        <div id="con_one_1" style="display:none;" data="pjia">
                        	
                           <div class="CommentOn">
                                <div class="COBottom">
                                    <ul id="Comcon" scrollpagination="enabled">
                                         
                                    </ul>
                                </div>
                                <input type="hidden" name="pjiapage" id="pjiapage" value="1">
                                <div class="loading" id="Comloading" style="display:block;">加载中... 请稍候 &gt;&gt;</div>
                                <div class="loading" id="Comnon" style="display:none;">亲。已经到底啦！</div>
                            </div> 
                            
                        </div>
                         <!--用户点评结束-->
                         <div id="con_one_2" style="display:none;" data="liuyan">
                         	<!--用户留言-->
                         	 
                            <div class="Message">
                                <form action="" id="mform" name="mform" method="POST">
                                <input type="hidden" name="msid" id="msid" value="40">
								<ul>
                                	<li>
                                    	<div class="MInput">
                                        	<div class="MITop"><textarea id="MContent" name="mcon" onclick="InFocus(this);" onblur="outF(this);" style="color:rgb(92, 91, 91);"  data="您的留言对其他会员都是很重要的参考">您的留言对其他会员都是很重要的参考</textarea></div>
                                            <div class="MIBottom"><a href="javascript:;" onclick="AddMessage()" id="msgbtn">提交留言</a> <span class="ImpNum">最多200个字符</span></div>
                                        </div>
                                    </li>
                                </ul>
                                </form>
                            </div>
                            <div class="Message">
								                <ul id="Msgul" scrollpagination="enabled"> 
                                </ul>
							              </div>  
                            <div class="CommentOn">
                            	<input type="hidden" name="liuyanpage" id="liuyanpage" value="1">
                            <div class="loading" id="Msgloading" style="display:block;">加载中... 请稍候 &gt;&gt;</div>
                            <div class="loading" id="Msgnon" style="display:none;">亲。已经到底啦！</div>
                            </div>
                         
                         	<!--用户留言-->
                         	 
                         </div>
                         
                         
                          <!---店铺介绍-->
                         <div id="con_one_3" style="display:none;" data="none">
                         	 
                         	<div style="margin-top:-35px;width:650px;word-wrap:break-word;float:left;margin-left:20px;margin-top:5px;">
                         	
                         	<{$shopinfo['intr_info']|htmlspecialchars_decode}>
                         	 </div>
                         </div>
                         <!---店铺介绍-->
                    </div>
                </div>
                
                <div class="RMRight">
  
  
  
                                <div class="ShopCartOn">
                                 <div class="SCOTop">
                                     <div class="ShopCart" id="ShopCart" style="position: static; top: 380px;">
                                         <div class="CartTop">
                                         <span class="tips" original-title="平均送餐时间：分钟">分钟</span>我的餐盒</div>
                                         <div class="SCBottom">
                                             <div class="SCTitle">
                                                 <div class="SCName">商品</div>
                                                 <div class="SCNum">份数</div>
                                                 <div class="SCSubtotal">小计</div>
                                                 <div class="SCOperate">操作</div>
                                             </div>
                                             <div id="SCartCon" class="SCInfo" style="display: block;">
                                                 <ul id="CartList">
                                                 
                                                 </ul>
                                             </div>                                    
                                         </div>
                                     </div>
                                 </div>
                                 <div class="SCOBottom">
                                     <div class="TotalPrice">
                                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tbody><tr>
                                                 <td width="80">&nbsp;菜 &nbsp;&nbsp;&nbsp;&nbsp;品：</td>
                                                 <td width="10">&nbsp;</td>
                                                 <td><i>￥</i><span id="CMoney">0</span><input type="hidden" id="MainMoney" value="111"><input type="hidden" id="OtherMoney" value="0"></td>
                                                 <td>&nbsp;</td>
                                                 <td width="60"><!--<a href="javascript:;" onclick="clearcart()" class="EmptyDishes">清空菜品</a>--></td>
                                             </tr>
                                         </tbody></table>
                                     </div>
                                     <div class="OrderOperation" style="display:none;">
                                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tbody><tr>
                                                 <td width="80"></td>
                                                 <td width="10">&nbsp;</td>
                                                 <td><a href="<{ofunc type=url link="/site/showcart"}>"  id="subbtn" class="OOBtn">订单确认</a></td>
                                             </tr>
                                         </tbody></table>
                                     </div>
                                     <div class="OrderWay">
                                         <div class="OWBtn">
                                             <a href="#" class="Waimai tips" onmousedown="this.className='Waimai Waimaidown'" onmouseout="this.className='Waimai'" original-title=""><p>点击下单 <i>￥</i><span id="waimaibtn">0</span></p>
                                             	<span id="spri"><{if $shopinfo['sendtype'] == 0}>网站配送<{else}>店铺自配<{/if}></span></a>
                                               <!--<a href="#" class="NotAvailable"><p>暂不支持<br>到店用餐</p></a> -->
                                         </div>
                                     </div>
                                     <div class="DTips" id="npdiv" style="display:none;"></div>
                                     <div class="DContact">客服热线：<span><{$litel}></span></div>
                                 </div>
                             </div> 


                </div>
                
                
                
                
                <div style="clear:both;"></div>
            </div>
            <!--餐厅菜单-->
        </div>
        
        
    </div>

<span id="addload" class="SelectedState" style="left: 1153px; top: 716px; opacity: 0; display: none;"></span>
<div style="width:641px;" class="modal hide fade" id="Modal_col" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  	<div class="modal-header">
			  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    	<h3 id="myModalLabel">提交订单</h3>
			  	</div>
			  	
			  	<div class="modal-body" id="modal_body">
			  	 
			  	   <div>
			  	   	    <table width=100% id="outcart">
			  	   	    	  <tr>
			  	   	    	  	   <th>商品名称</th><th>商品单价</th><th>数量 </th><th>小计</th>
			  	   	    	  </tr> 
			  	   	    	  
			  	   	    </table>
			  	   	    
			  	   	    
			  	   	    <div id="jifenPromotion2" style="clear:both;<{if empty($member)}>display:none;<{/if}>">
			  	   	    	 <label style="float:left;line-height:30px;width:80px;" id="activeJifen2" data="<{$member['score']|default:0}>" jfendata="<{$scoretocost}>">积分低扣:</label> 
			  	   	    	 <span id="activeJifenselect"></span>
			  	   	    </div>
			  	   	    <div style="clear:both;">
			  	   	    	    
			  	   	    	    <table width=100%  >
			  	   	    	    	<{if empty($member)}>
			  	   	    	    	<tr > <td colspan=4>假如你有优惠劵,请先登录在使用优惠劵<a href="<{ofunc type=url link="/member/login"}>">点击登录</a></td></tr>
			  	   	    	    	<{else}>
			  	   	    	    	<{if count($juanlist) > 0}>
			  	   	    	    	 <tr>
			  	   	    	  	            <td>优惠卷名称</td><td>最低消费</td><td>优惠金额 </td><td>到期时间</td>
			  	   	    	       </tr> 
			  	   	    	    	<{foreach from=$juanlist item=itemm}>
			  	   	    	       <tr>
			  	   	    	  	      <td><input type="radio" name="buyjuan" disabled value="<{$itemm['id']}>" data="<{$itemm['cost']}>" data2="<{$itemm['limitcost']}>"><{$itemm['name']}></td><td><{$itemm['limitcost']}></td><td><{$itemm['cost']}> </td><td><{$itemm['endtime']|date_format:"%Y-%m-%d"}></td>
			  	   	    	       </tr> 
			  	   	    	       <{/foreach}> 
			  	   	    	       <{/if}> 
			  	   	    	       <tr> <td  colspan=4>我有优惠劵,请<a href="<{ofunc type=url link="/membercenter/juan"}>" target="_blank">点击绑定优惠劵</a></td></tr>
			  	   	    	       <{/if}>
			  	   	           </table>
			  	   	    </div>
			  	   	    <div style="clear:both;" id="areatop"> <label style="float:left;line-height:30px;width:80px;">联系区域:</label>  
			  	   	    </div>
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">地址详情:</label><input type="text" id="uaddress" value="" style="float:left;"></div> 
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">联系人:</label><input type="text" id="uname" value="" style="float:left;"></div>
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">联系电话:</label><input type="text" id="uphone" value="" style="float:left;"></div>
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">配送方式:</label><label style="float:left;line-height:30px;width:80px;"><{if $shopinfo['sendtype'] == 0}>网站配送<{else}>店铺自配<{/if}></label></div> 
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">配送时间:</label>
			  	   	    	<select name="senddate"  onchange="maketimenenu();" style="float:left;width:130px;">
                    		<{if $shopinfo['is_orderbefore'] == 0}>
                    		      <option value="<{time()|date_format:"%Y-%m-%d"}>"><{time()|date_format:"%Y-%m-%d"}><option>
                    		<{else}> 
                    		      <{assign var=nowtime value=time()}>   
                    		      <{section name=foo start=0 loop=$shopinfo['befortime'] step=1}>
                    		         <{assign var=showtime1 value=24*60*60*$smarty.section.foo.index}>  
                    		         <{assign var=showtime value=$showtime1+$nowtime}>   
							                      <option value="<{$showtime|date_format:"%Y-%m-%d"}>"><{$showtime|date_format:"%Y-%m-%d"}></option>   
                               <{/section}>  
                    		<{/if}> 
                    	</select>
			  	   	    	  <select class="orange" id="orderTime" style="margin-left:5px;float:left;width:80px;">
                    	   <option value="0">请选择</option> 
                    	</select>
			  	   	    	
 
			  	   	    	
			  	   	    	  <input type="hidden" id="bianlidianPeisongfei" value="0">
			  	   	    	  <input type="hidden" id="shopps" value="0">
			  	   	    	  <input type="hidden" id="cxcost" value="0">
			  	   	    	  <input type="hidden" id="shopallcost" value="0">
			  	   	    	  <input type="hidden" id="marketallcost" value="0">
			  	   	    	  <input type="hidden" id="dikoujin" value="0">
			  	   	    	  <input type="hidden" id="allbagcost" value="0">
			  	   	    	  <input type="hidden" id="juancost" value="0">
			  	   	    </div>
			  	   	     
			  	   	    <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">支付方式:</label>
			  	   	    	            <input type="radio" name="checkway" value="outpay" checked data="货到支付">货到支付
							              <{if $open_acout == 1 && !empty($member)}>
							                 <input type="radio" name="checkway" value="open_acout" data="账户余额支付">账户余额支付(我的余额<{$member['cost']}>元)</label>
							              <{/if}>
							              <{foreach from=$paylist item=items}>  
							                <input type="radio" name="checkway" value="<{$items['loginname']}>" data="<{$items['logindesc']}>"><img src="<{$items['logourl']}>"> 
							              <{/foreach}>
			  	   	     
			  	   	    	</div>
			  	   	     <div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">备注:</label><textarea id="beizhu"></textarea> 
			  	   	    </div>
			  	   	     <div style="clear:both;"><label style="float:left;line-height:30px;width:80px;"> </label>
					      <{if $shopinfo['limitcost']> 0}><div style="clear:both;"> <label style="float:left;line-height:30px;width:80px;">起送价:</label><{$shopinfo['limitcost']}></div> <{/if}>
						 <{foreach from=$bzlist item=itv}>
						  <{if !empty($itv)}>
						      <span class="hc_order_foods_select_li_span" style="float:left;"><{$itv}></span> 
						 <{/if}>
						<{/foreach}> 																
						 
					 

				    </div>
				
				
				
			  	  </div>	 
			  	</div>
			  	<div class="modal-footer">
			  	  <span id="order_dets"></span> 
			  	  <{if $shopopeninfo['opentype'] ==2 || $shopopeninfo['opentype'] ==3}> 
			    	<button class="btn btn-primary" onclick="subcart();" id="cfm_addArea"  >提交订单</button>
			    	<{else}>
			    	<button class="btn btn-primary"   >停止营业</button>
			    	<{/if}>
			    	<button class="btn" data-dismiss="modal" aria-hidden="true">继续订餐</button>
			  	</div>
			</div>
 <script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/newsshop.js" type="text/javascript" language="javascript"></script>
 <script id="areaid1" type="text/html">  
<label style="width:90px;float:left;" id="liarea1">
                    
                    <span class="ordered_date" id="belongcity1">
                       <select name="area1" id="area1" onchange="dotype2();" style="margin-left:5px;float:left;width:80px;">
				<^%for(i = 0; i < list.length; i ++) {%^>
					<^%if(list[i].parent_id == showid){%^>
             <option value="<^%=list[i].id%^>"  <^%if(list[i].id == selectid){%^> selected <^%}%^>>
             <^%=list[i].name%^>
             </option>
             <^%}%^>
        <^%}%^> 
				
				</select>
				
                    </span>
 </label>
</script>
<script id="areaid2" type="text/html">  
<label style="width:90px;float:left;" id="liarea2">
                     
                    <span class="ordered_date" id="belongcity2" >
                       <select name="area2" id="area2" onchange="dotype3();" style="margin-left:5px;float:left;width:80px;">
				<^%for(i = 0; i < list.length; i ++) {%^>
					<^%if(list[i].parent_id == showid){%^>
             <option value="<^%=list[i].id%^>"  <^%if(list[i].id == selectid){%^> selected <^%}%^>>
             <^%=list[i].name%^>
             </option>
             <^%}%^>
        <^%}%^>  
				</select>
                    </span>
 </label>
</script>
<script id="areaid3" type="text/html">  
<label style="width:160px;float:left;" id="liarea3">
                    
                    <span class="ordered_date" id="belongcity3">
                       <select name="area3" id="area3" onchange="dotype4();" style="margin-left:5px;float:left;width:150px;">
				<^%for(i = 0; i < list.length; i ++) {%^>
					<^%if(list[i].parent_id == showid){%^>
             <option value="<^%=list[i].id%^>"  <^%if(list[i].id == selectid){%^> selected <^%}%^>>
             <^%=list[i].name%^>
             </option>
             <^%}%^>
        <^%}%^> 
				
				</select>
                    </span>
 </label>
</script>
 <script type="text/javascript"> 
$(window).scroll(function(){
	refreshBottomCart();
	showmessmore(); 

})
 var shopid = <{$shopinfo['id']}>; 
	 var getcxinfo = '<{ofunc type=url link="/fastfood/getcx/random/@random@"}>';
	 var arealist = <{$myarealist|@json_encode}>;
	 var areagrade = <{$area_grade}>;
	 var areatocost = <{$areacost|@json_encode}>;
	 var marketarealist = <{$marketarealist|json_encode}>;
	 var allowedmarket = <{$shopinfo['sendtype']}>;
var shopbacklogo = '<{$shopinfo['shopbacklogo']}>';
var shopid = '<{$shopinfo['id']}>';
var shoppostcost ='<{$shopinfo['limitcost']}>';
 var starttime = '<{$shopinfo['starttime']}>';
var is_open = <{$shopinfo['is_open']}>;
	 var is_orderbefore=<{$shopinfo['is_orderbefore']}>;
	 var nowdate = '<{time()|date_format:"%Y-%m-%d"}>';
	 var nowtime = '<{time()|date_format:"%Y-%m-%d %H:%M:%S"}>';
	  var submithtml = '<{ofunc type=url link="/fastfood/order/random/@random@"}>';
	var orderhtml = '<{ofunc type=url link="/site/waitpay/orderid/@orderid@"}>';
</script>
<script>
var mydefaultadress = <{$mydefaultadress|@json_encode}>;
$(function(){  
	$('#uname').val(mydefaultadress.contactname);
	$('#uphone').val(mydefaultadress.phone);
	$('#uaddress').val(mydefaultadress.address);
	if(mydefaultadress.sex == 0){
		 
		$('#dwb_sex_male').attr('checked',true);//('click');
	}
	  if(arealist.length > 0){ 
 	   	var htmls = template.render('areaid1', {list:arealist,showid:0,selectid:mydefaultadress.areaid1});
          $('#areatop').append(htmls);
          if(areagrade > 1){
           dotype2();
         }else{  //ServicePrice
         	  var findvalue = $('#area1').find("option:selected").val();
         	  for(var i=0;i<arealist.length;i++){
         	  	if(arealist[i].id== findvalue){
         	  		$('#shopps').val(areatocost[arealist[i].id]); 
         	  		if(allowedmarket ==0){
         	  			$('#bianlidianPeisongfei').val(marketarealist[arealist[i].id]); 
         	  	  }
         	  	}
         	  }
         	  gettotal();	
         	  
         }
    }
    
     
});
function dotype2(){
	if(areagrade > 1){
	var findvalue = $('#area1').find("option:selected").val();
 	$('#liarea2').remove();
 		var htmls = template.render('areaid2', {list:arealist,showid:findvalue,selectid:mydefaultadress.areaid2});
          $('#areatop').append(htmls);
          if(areagrade > 2){
 		 dotype3();
 		}else{
 			var findvalue = $('#area2').find("option:selected").val();
         	  for(var i=0;i<arealist.length;i++){
         	  	if(arealist[i].id== findvalue){
         	  		$('#shopps').val(areatocost[arealist[i].id]); 
         	  		if(allowedmarket ==0){
         	  			$('#bianlidianPeisongfei').val(marketarealist[arealist[i].id]); 
         	  	  }
         	  	}
         	  }
         	  gettotal();	
 		}
 	}else{
  	gettotal();	 
  }
}
function dotype3(){
	if(areagrade > 2){
	var findvalue = $('#area2').find("option:selected").val();
 	$('#liarea3').remove();
 		var htmls = template.render('areaid3', {list:arealist,showid:findvalue,selectid:mydefaultadress.areaid3});
          $('#areatop').append(htmls);
          //ServicePrice
          var findvalue = $('#area3').find("option:selected").val(); 
         	  for(var i=0;i<arealist.length;i++){
         	  	if(arealist[i].id== findvalue){
         	  		$('#shopps').val(areatocost[arealist[i].id]); 
         	  		if(allowedmarket ==0){
         	  			$('#bianlidianPeisongfei').val(marketarealist[arealist[i].id]); 
         	  	  }
         	  	}
         	  }
         	  gettotal();	
  }else{
  	gettotal();	 
  }
 	
}
function dotype4(){
	 var findvalue = $('#area3').find("option:selected").val();
        
         	  for(var i=0;i<arealist.length;i++){
         	  	if(arealist[i].id== findvalue){
         	  		$('#shopps').val(areatocost[arealist[i].id]); 
         	  		if(allowedmarket ==0){
         	  			$('#bianlidianPeisongfei').val(marketarealist[arealist[i].id]); 
         	  	  }
         	  	}
         	  }
         	  gettotal();
}
//获取坐标函数
function gettotal(){
	//获取所有金额
	//配送费:<font id="psdataall" data="0"></font></span> <span>打包费:</span> <span>积分抵扣:</span> <span>优惠:</span> <span>订单实价:
	var shopallcost = Number($('#shopallcost').val())
	var marketallcost =  Number($('#marketallcost').val());
	var peisong = 0;
	if(shopallcost > 0){
		 peisong+= Number($('#shopps').val());
	}
	if(marketallcost > 0){
		peisong+= Number($('#bianlidianPeisongfei').val());
	}
	var dikou = Number($('#dikoujin').val());
	var allbagcost = Number($('#allbagcost').val());
	var cxcost = Number($('#cxcost').val());
	var juancost = Number($('#juancost').val());
	var surecost = shopallcost+marketallcost+peisong+allbagcost-dikou-cxcost-juancost;
	var htmls = '<span>配送费:<font style="color:#f60;">'+peisong+'</font></span> <span>打包费:<font style="color:#f60;">'+allbagcost+'</font></span> <span>积分抵扣:<font style="color:#f60;">'+dikou+'</font></span> <span>优惠卷:<font style="color:#f60;">'+juancost+'</font></span><span>优惠:<font style="color:#f60;">'+cxcost+'</font></span> <span>订单实价:<font style="color:#f60;">'+surecost+'</font></span>';
	
	
	
	$('#order_dets').html(htmls); 
	 
}

</script>

</body>
</html>