<html xmlns="http://www.w3.org/1999/xhtml"><head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="zh-CN"> 
<meta content="all" name="robots"> 
<meta name="description" content=""> 
<meta content="" name="keywords"> 
<title>上传图片</title> 
<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/admin.css">
 
 <script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/jquery.js" type="text/javascript" language="javascript"></script>  
 <script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/artDialog.js?skin=blue"></script>
</head>
<body style="background:none;height:70px;">
	 <form enctype="multipart/form-data" method="post" name="upform" action="<{ofunc type=url link="/other/goodsupload"}>" > 
	 	<{if !empty($imgurl)}>
	 	<img src="<{$imgurl}>"  width=50px height=50px> 
	 	<{/if}>
	 	<input name="imgFile" type="file">
	 	<input type="hidden" value="<{$type}>" name="type">
	 	<input type="hidden" value="<{$goodsid}>" name="goodsid">
	 	 	<input type="submit" value="提交上传" class="button">   
  </form>
  <script>
   
  	</script>
</body>
</html>