@charset "utf-8";
 
.liststyle1 {
background: #ffffff;
border-bottom: 1px solid #e5e5e5;
border-top: 1px solid #e5e5e5!important;
margin-bottom: 10px;
margin-top:10px;
}
.liststyle1 li.topheader{ 
padding-left:5px;
color:#c30814;
font-weight:bold;
line-height:30px;
height:30px;
border-bottom: 1px solid #e5e5e5; 
font-size:15px;
}
.leftarry { 
background: url('../images/leftarr.png') no-repeat center;
height: 15px;
width: 15px;
background-size: 100%;
}