.container section ul li {
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
margin-top: 10px;
background: #fff;
}
.container section ul li {
line-height: 27px;
}
.container section ul li:first-child {
border-top: 0px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
margin-top: 0px;
}
.w300 {
width: 93.75%;
margin: 0px auto;
}
.w300 {
width: 90.625%;
margin: 0px auto;
/* background: #fff; */
padding-left: 10px;
padding-right: 10px;
}
.borderBm {
border-bottom: 1px solid #e5e5e5;
}
.pad10 {
padding: 10px 10px 12px 10px;
}
.container section ul li div {
overflow: hidden;
}
.container section ul li.clkitm h3 {
height: 30px;
line-height: 30px;
}
.container section ul li.clkitm h3 span {
color: #747474;
float: right;
font-size: 12px;
}
.container section ul li.clkitm h3 span:first-child {
color: #323232;
float: left;
font-size: 14px;
}
.container section ul li div em {
margin-right: 3px;
}
.container section ul li .caipin {
height: 48px;
line-height: 48px;
}
.container section ul li .caipin span {
float: right;
}
.container section ul li .caipin span:first-child {
float: left;
}
.colred {
color: #ea5413;
}
.container section ul li .caipin .zhifu {
padding: 0px 16px;
height: 20px;
line-height: 20px;
border: 1px solid #ea5413;
border-radius: 5px;
color: #ea5413;
text-align: center;
margin-top: 13px;
margin-left: 10px;
}
.delhover {
background: #ea5413;
color: #ffffff!important;
}

