<{include file="<{$tempdir}>/public/top.html"}> 
 



<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/memberCenter.css"> 
<div class="box950 pad_tb_20" id="main">			
			<div class="membercenter"><!--membercenter-->
				<div class="mc-left box150" id="mc-left"><!--mc-left--> 
	         <{include file="<{$tempdir}>/membercenter/usermenu.html"}>
				</div>			

				<div class="mc-right box790"><!--mc-right-->
					<div class="manageBox margin_bottom"><!--manageBox-->
						<div class="title"><!--title-->
							<p class="yleft"><span class="colortip"></span>
							<span class="title_name"><b>我的点评</b></span></p>
						</div><!--title end-->

						<div class="mr-middle"><!--mr-middle-->
							<div class="account_prize"><!--account_prize-->
								<p class="title" style="margin-top:0px;">可点评的订单<span style="color:#666;font-weight:400;">（请在订单完成7天内点评，超过7天则点评失效）</span></p>
								<div id="user_dianpinglist">
									<table cellpadding="0" cellspacing="0" id="user_dianpingistTable"><tbody>
										<tr style="background-color: rgb(238, 238, 238);">
											<th width="187">订单编号</th>
											<th width="235">订单商家</th>
											<th width="247">下单时间</th>
											<th width="99">操作</th>
											
											</tr>
											<{if count($list) > 0}>
											<{foreach from=$list item=items}>
											<tr>		
											<td><a href="#orderview" onclick="getOrderDetail(<{$items['id']}>);"><{$items['dno']}></a></td>		
											<td><a <{if $items['isbefore']==1}>href="<{ofunc type=url link="/waitfood/show/shop/<{$items['shopid']}>"}>"<{else}><{if $items['shopid']==0}>href="<{ofunc type=url link="/market"}><{else}>href="<{ofunc type=url link="/fastfood/show/shop/<{$items['shopid']}>"}>"<{/if}> <{/if}> target="_blank" class="apanel"><{$items['shopname']}></a></td>		
											<td><{$items['addtime']|date_format:"%Y-%m-%d %H:%M"}></td>		
											<td><a href="#" class="apanel" onclick="getOrderDetail(<{$items['id']}>);">查看点评</a></td>	
												 
										 </tr>
										<{/foreach}>
										<{else}>
											<tr style="background-color: rgb(255, 255, 255);"><td colspan="5">暂无相关记录。</td></tr>
											<{/if}></tbody>
									</table>
									<div class="total"><p>共<{$allcount}>条记录</p> </div>
								 	   <div class="page">共<{$pageall}>页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;到第 
								 		  <input type="text" id="topage" value="<{$pagenow}>" class="gotopage">&nbsp;页&nbsp;&nbsp;
								 		  <input type="image" class="sure" data="<{ofunc type=url link="/membercenter/waitpiont/page/@page@"}>" src="/upload/shop/fenye_sure.jpg" onclick="gotopage(this);" value="GO">
								 	   </div>
								 		<div class="clear">	</div>
								</div>

								<a name="orderview"></a>
								<div class="m3-order-detail" id="m3-order-detail"><!--m3-order-detail-->

								</div><!--m3-order-detail end-->
							</div><!--account_prize end-->
						</div><!--mr-middle end-->
					</div><!--mc-right end-->
				</div><!--membercenter end-->
			</div>
</div>
  
<script id="trgoodlist" type="text/html"> 
<div class="m3-order-detail-left">	
										<ul>		
											<li><span>订单编号：</span><^%=order.dno%^></li>		
											<li><span>下单时间：</span><^%=order.addtime%^></li>		
											<li><span>要求时间：</span><^%=order.posttime%^></li>		
											<li><span>完成时间：</span><^%=order.suretime%^></li>		
											<li><span>配送方式：</span><^%if(order.pstype==1){%^>店铺自送<^%}else{%^>平台配送<^%}%^></li>		
											<li><span>支付方式：</span><^%if(order.paytype=='outpay'){%^>餐到付款<^%}else{%^>在线支付<^%if(order.paystatus=='1'){%^>(已付)<^%}else{%^> (未付) <^%}%^><^%}%^></li>		
											<li><span>客户姓名：</span><^%=order.buyername%^></li>		
											<li><span>手机号码：</span><^%=order.buyerphone%^></li>		
											<li><span>配送地址：</span><^%=order.buyeraddress%^></li>		
											<li><span>订单备注：</span><^%=order.excontent%^></li>	
										</ul>	
										<div class="clear"></div>
									</div>
									<div class="m3-order-detail-right">	
										<table>		
											<tbody>
												<tr>			
													<th class="m3-odetail1 ">订单商家：<^%=order.shopname%^></th>			
													<th class="m3-odetail2">订单状态：<^%=order.status%^></th>		
												</tr>	
											</tbody>
										</table>	
										<div class="menulist">	
										
											<table>		
												<tbody>
													<^%for(i = 0; i < orderdet.length; i ++) {%^>
													<tr>			
														<td class="m3-odetail1"><^%=orderdet[i].goodsname%^></td>			
														<td class="m3-odetail2">￥<^%=orderdet[i].goodscost%^>*<^%=orderdet[i].goodscount%^></td>			
														<td class="m3-odetail3"><span class="money">￥<^%=orderdet[i].sum%^></span></td>		
													</tr>		
												 	 
													  	<tr>			
														<td colspan= 3 class="m3-odetail1">
														  <div> <label>评分:</label><^%=orderdet[i].comment.point%^> <font color="gray"><^%=orderdet[i].comment.content%^></div></div>
														   
														</td>			
													 </tr>	
													  
												  <^%}%^> 
					  
												</tbody>
											</table>	
										</div>	
										
									</div>
							<div class="clear"></div>
</script>
<script type="text/javascript">
	function addAddr()
	{
		$('#newAddr_1').show();
	}
	function getOrderDetail(orderid)
	{  
	        var info = {'orderid':orderid};
	      	var backmes =   ajaxback('<{ofunc type=url link="/membercenter/ordercomdet"}>',info); 
	      	if(backmes.flag == false)
	      	{ 
	      		 var htmls = template.render('trgoodlist', {order:backmes.content.order,orderdet:backmes.content.orderdet});
	      	   $('#m3-order-detail').html(htmls); 
	      	}else{
	      		diaerror(backmes.content); 
	      	}  
	}
	 
	 
 
</script>
<{include file="<{$tempdir}>/public/foot.html"}>
