 <{extends file="<{$tempdir}>/public/html5.html"}>  
<{block name=extendcss}> 
 <link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/html5/css/order.css">
<{/block}>
 <{block name=extendjs}> 
  <script src="<{$siteurl}>/templates/<{$tempdir}>/public/html5/js/template.min.js"></script>   
<script id="orderlists" type="text/html">    
 	  <li class="dingtai clkitm" id="gid_<^%=list.id%^>"> 
        <div class="borderBm w300 pad10" onclick="showorder(this);"  orderid="<^%=list.id%^>"> 
            <h3><span><^%=list.shopname%^><font color=red>[<^%=list.shoptype%^>]</font> </span><span><^%=list.addtime%^></span></h3> 
            <div><em><^%=list.det%^></em></div> 
        </div>
        <div class="fontbold w300 caipin">   
            <span>￥<i class="colred"><^%=list.allcost%^>元</i></span>
            <^% if( list.status == 0){%^> 
            	   <span class="zhifu delhover" orderid="<^%=list.id%^>" onclick="unorder(this);" id="span_id<^%=list.id%^>">取消</span>
             <^%}%^>
               <^% if( list.status == 1){%^> 
                     <span> 	处理中   </span>   
               <^%}%^>
               <^% if( list.status == 2){%^> 
                       <span class="zhifu delhover" orderid="<^%=list.id%^>" onclick="showorder(this);"  orderid="<^%=list.id%^>">评价</span>
               <^%}%^>
                <^% if( list.status == 3){%^> 
                	 <^% if( list.is_ping == 1){%^> 
                	 	 <span>  已完成       </span>  
                   <^% }else{%^>
                   	 <span class="zhifu delhover" orderid="<^%=list.id%^>" onclick="showorder(this);"  orderid="<^%=list.id%^>">评价</span>
                   	<^%}%^>
               <^%}%^>
                <^% if( list.status == 4){%^> 
                       <span class="zhifu delhover" orderid="<^%=list.id%^>" onclick="unorder(this);">删除</span>
               <^%}%^>
        </div>
    </li>
</script> 
 <script> 
   var page =1; 
 	 var can_show = true;//控制是否翻页  
 	 $(function(){
 	 	 can_show=false; 
 	       getorder();
 	 }); 
   function getorder(){  
   		var url = siteurl+'/index.php?controller=html5&action=userorder&random=@random@';  
   		  $.ajax({ 
       dataType: "json", 
       data:{page:page,datatype:'json'}, 
       url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
       success: function(content) {    
       	 if(content.error == false) 
      	{  
      		  
      		 if(content.msg.length > 0){ 
  	  		 $.each(content.msg, function(i,val){    
  	  		 	    var htmls = template.render('orderlists', {list:val}); 
                  $('#orderlist').append(htmls); 
  	  		 }); 
  	  		  page =Number(page)+1; 
  	  		  can_show = true; 
  	     	 }else{ 
  	  	      can_show = false;//停止翻页 
  	       } 

      	}else{ 
      			 can_show ==  false; 
    	       error($('#supplierlist'),content.msg); 
    	       $('#loading').hide();
      	}  
      	 
	     }, 
       error: function(content) {  
        	can_show ==  false; 
    	    error($('#supplierlist'),'店铺数据为空'); 
    	    $('#loading').hide();
	     }

     });  
   } 
  $(window).scroll(function(){   //滚动获取数据 
	   if(can_show == true){ 
       if ($(document).height() - $(this).scrollTop() - $(this).height()<100) 
       { 
       	  can_show = false; 
          getorder();
       }  
     } 
   }); 
   function unorder(obj){ 
   	var pandun = $(obj).text(); 
   	 $('#loading').show();
   	if(pandun == '取消'){ 
   		   var url = siteurl+'/index.php?controller=order&action=userunorder&orderid='+$(obj).attr('orderid')+'&datatype=json&random=@random@';   
 	        $.ajax({ 
           dataType: "json",  
           url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
           success: function(content) {    
           	 if(content.error == false) 
          	{  
          		window.location.reload();
       
          	}else{ 
          			Tmsg(content.msg);
          		  $('#loading').hide();
          	}  
          	 
	         }, 
           error: function(content) {  
             	Tmsg('提交数据失败');
        	    $('#loading').hide();
	         }
       
         });  
   	}else{

   	 if(pandun ==  '删除'){ 
   	 	  var url = siteurl+'/index.php?controller=order&action=userdelorder&orderid='+$(obj).attr('orderid')+'&datatype=json&random=@random@';  
 	      $.ajax({ 
           dataType: "json",  
           url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
           success: function(content) {    
           	 if(content.error == false) 
          	{  
          		window.location.reload();
       
          	}else{ 
          		Tmsg(content.msg);
          		  $('#loading').hide();
          	}  
          	 
	         }, 
           error: function(content) {  
             Tmsg('提交数据失败');
        	    $('#loading').hide();
	         }
       
         });  
     	}

    } 

   }

   function showun(datas){

     if(datas.error ==  false){

        $('#span_id'+datas.data).text('删除');

     }

   }

   function showdel(datas){

   	if(datas.error ==  false){ 

   		 $('#gid_'+datas.data).remove();

   	}

  }

  function showorder(obj){

  	window.location.href=siteurl+'/index.php?controller=html5&action=ordershow&orderid='+$(obj).attr('orderid')+'&random=@random@';  //'ordershow.html?orderid='+$(obj).attr('orderid');//  	alert($(obj).attr('orderid')); 

  }

 	</script>

<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}> 
<div id="hallist"> 
  	<header><div class="return"></div>我的订单</header>  
  <div class="container"> 
  	<section> 
  	<ul id="orderlist">    
     </ul> 
    </section>

<{/block}>