section.about {
background: #fff;
text-align: center;
margin-bottom: 15px;
height: 62px;
}
.contantabout {
padding: 0px 25px;
font-size: 14px;
}
.abouttel {
background: #ea5413;
font-size: 15px;
text-align: center;
color: #ffffff;
padding-top: 5px;
padding-bottom: 5px;
margin: 10px 25px;
display: block;
}
footer {
position: static;
padding-top: 30px;
}